<div class="overlay" [ngClass]="{ 'toggle-overlay': toggleSidebar }"></div>

<div
  class="sidebar"
  [ngClass]="{ 'toggle-sidebar': toggleSidebar }"
>
  <div class="sidebar__header">
    <button class="sidebar__header__button" (click)="toggle()">
      <img src="/assets/icons/sidebar_button.svg" alt="" />
    </button>
    <span class="sidebar__header__name">{{ displayName }}</span>
  </div>

  <div class="sidebar__items">
    <ng-container *ngFor="let item of menuItems; let i = index">
      <div
        class="sidebar__items__item"
        [ngClass]="{ 'is-active': url === item?.link }"
        *ngIf="item?.role?.includes(authService.getUserRole())"
      >
        <a
          *ngIf="!item.submenu"
          [routerLink]="item.link"
          (click)="toggleSidebar = false; toggled = []"
        >
          <div class="img">
            <img [src]="item.icon" />
          </div>
          <span>{{ item.title }}</span>
        </a>

        <button
          *ngIf="item.submenu && item.submenu.length > 0"
          (click)="hideSubmenu(i)"
          [ngClass]="{ 'hide-arrow': !toggled.includes(i) }"
        >
          <div class="img">
            <img [src]="item.icon" />
          </div>
          <span>{{ item.title }}</span>
          <img class="arrow" src="/assets/icons/menu_arrow.svg" />
        </button>

        <div
          class="submenu"
          [ngClass]="{ 'hide-submenu': !toggled.includes(i) }"
        >
          <ng-container *ngFor="let subItem of item.submenu">
            <a
              [routerLink]="[subItem.link, { data: subItem.param }]"
              (click)="toggleSidebar = false; toggled = []"
            >
              <div class="empty"></div>
              <span>{{ subItem.title }}</span>
            </a>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="sidebar__web" [ngClass]="{ 'toggle-sidebar-web': toggleSidebar }" (mouseleave)="toggleSidebar = false; toggled = []">
  <div class="sidebar__web__header">
    <button class="sidebar__web__header__button" (click)="toggle()">
      <img src="/assets/icons/sidebar_button.svg" alt="" />
    </button>
    <span class="sidebar__web__header__name">{{ displayName }}</span>
  </div>

  <div class="sidebar__web__items">
    <ng-container *ngFor="let item of menuItems; let i = index">
      <div
        class="sidebar__web__items__item"
        [ngClass]="{ 'is-active': url === item?.link }"
        *ngIf="item?.role?.includes(authService.getUserRole())"
      >
        <a
          *ngIf="!item.submenu"
          [routerLink]="item.link"
          (click)="toggleSidebar = false; toggled = []"
        >
          <div class="img">
            <img [src]="item.icon" />
          </div>
          <span>{{ item.title }}</span>
        </a>

        <button
          *ngIf="item.submenu && item.submenu.length > 0"
          (click)="hideSubmenu(i)"
          [ngClass]="{ 'hide-arrow': !toggled.includes(i) }"
        >
          <div class="img">
            <img [src]="item.icon" />
          </div>
          <span>{{ item.title }}</span>
          <img class="arrow" src="/assets/icons/menu_arrow.svg" />
        </button>

        <div
          class="submenu"
          [ngClass]="{ 'hide-submenu': !toggled.includes(i) }"
        >
          <ng-container *ngFor="let subItem of item.submenu">
            <a
              [routerLink]="[subItem.link, { data: subItem.param }]"
              (click)="toggleSidebar = false; toggled = []"
            >
              <div class="empty"></div>
              <span>{{ subItem.title }}</span>
            </a>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
