@import "~src/scss/styles";

.sidebar {
  margin: 42px 0 0 0;

  max-width: 80px;
  width: auto;

  transition: 0.2s ease;

  overflow-x: hidden;

  &__header {
    display: flex;
    align-items: center;
    padding: 0 0 0 32px;

    &__button {
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
    }

    &__name {
      margin-left: 24px;
      font-size: 24px;
      color: #fff;
      white-space: nowrap;
      visibility: hidden;
      font-weight: bold;
      white-space: pre-wrap;
    }
  }

  &__items {
    display: inline-flex;
    flex-direction: column;

    margin-top: 35px;

    &__item {
      transition: 0.2s ease;

      a,
      button {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding: 8px 28px;

        margin: 5px 0;

        font-size: 18px;
        color: #fff;

        text-decoration: none;

        .img {
          width: 24px;
          text-align: center;
        }

        span {
          white-space: nowrap;
          visibility: hidden;
          margin-left: 24px;
        }
      }

      button {
        background: none;
        border: none;
        cursor: pointer;

        max-height: 40px;
      }

      &:hover {
        background-color: lighten($color: $blue-bg, $amount: 5);
        background-color: $dark-blue-bg;
      }
    }
  }
}

.is-active {
  background-color: $dark-blue-bg;
}

/* Floating sidebar */
.sidebar__web {
  padding-top: 42px;
  border-radius: 0px 16px 0px 0px;

  background-color: $blue-bg;

  z-index: 99999999;

  max-width: 318px;
  width: auto;
  height: 100%;

  transition: 0.2s ease-in-out;

  overflow-y: hidden;

  position: fixed;
  top: 196px;
  left: -100%;

  &__header {
    display: flex;
    align-items: center;
    padding: 0 0 0 32px;

    &__button {
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
    }

    &__name {
      margin-left: 24px;
      font-size: 24px;
      color: #fff;
      white-space: nowrap;
      font-weight: bold;
    }
  }

  &__items {
    display: inline-flex;
    flex-direction: column;

    margin-top: 35px;

    &__item {
      transition: 0.2s ease;

      a,
      button {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        flex-wrap: wrap;

        padding: 8px 28px;

        margin: 5px 0;

        font-size: 18px;
        color: #fff;

        text-decoration: none;

        .img {
          width: 24px;
          text-align: center;
        }

        span {
          white-space: nowrap;
          margin-left: 24px;
        }

        .arrow {
          margin-left: 20px;
          transform: rotateZ(0);

          transition: 0.1s ease;
        }

        &:hover {
          background-color: lighten($color: $blue-bg, $amount: 5);
          background-color: $dark-blue-bg;
        }
      }

      .submenu {
        width: 100%;

        a {
          .empty {
            width: 24px;
          }
        }
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}

/* Toggle sidebar web */
.toggle-sidebar-web {
  left: 0;
}

/* ## Mobile */

@media (max-width: 1000px) {
  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;

    background-color: black;

    z-index: 5;

    visibility: hidden;
    opacity: 0;

    transition: 0.1s ease;
  }

  .sidebar {
    width: auto;
    max-width: 40px;

    transition: width 0.2s ease;

    position: relative;
    border-radius: 0px 16px 0px 0px;
    background-color: $blue-bg;

    padding-top: 42px;
    margin-top: 0;

    overflow-x: hidden;
    overflow-y: auto;
    height: -webkit-fill-available;

    &__header {
      margin: 5px 9px;

      justify-content: flex-start;

      padding: 0;

      &__name {
        font-size: 12px;
      }
    }

    &__items {
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      align-items: center;

      &__item {
        width: 100%;
        display: flex;
        justify-content: flex-start;

        flex-wrap: wrap;

        a,
        button {
          padding: 0;

          margin: 15px 6px;

          .img {
            text-align: center;
          }

          span {
            font-size: 12px;
            visibility: hidden;
          }

          .arrow {
            margin-left: 20px;
            transform: rotateZ(0);
          }
        }

        .submenu {
          width: 100%;

          a {
            line-height: 20px;
            .empty {
              width: 24px;
            }
          }
        }
      }
    }
  }

  /* Hidden sidebar web */
  .sidebar__web {
    display: none;
  }

  /* Sidebar toggled Mobile */
  .toggle-sidebar {
    // min-width: 70vw;
    max-width: 70vw;
    top: 0;
    z-index: 10;

    position: absolute;

    .sidebar__header {
      .sidebar__header__name {
        visibility: visible;
      }
    }

    .sidebar__items {
      overflow-x: hidden;
      .sidebar__items__item {
        padding: 0 10px;

        a,
        button {
          span {
            visibility: visible;
          }
        }
      }
    }
  }
}

.toggle-overlay {
  visibility: visible;
  opacity: 0.9;
}

.hide-submenu {
  display: none;
}

.hide-arrow {
  .arrow {
    transform: rotateZ(180deg) !important;
  }
}
