.acoes-desenvolvidas {
  &__planos {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px 0 20px;
  }

  table {
    width: 100%;

    tbody tr:nth-child(odd) {
      background-color: #f9f9f9;
    }

    tbody tr:nth-child(even) {
      background-color: white;
    }

    td {
      padding: 10px 20px;
    }
  }
}
