<form [formGroup]="form" class="acoes-desenvolvidas">
  <ng-container formGroupName="objetivos">
    <div class="acoes-desenvolvidas__titulo primary-title">
      Valide a execução dos planos de ação:
    </div>
    <div class="acoes-desenvolvidas__planos" *ngFor="let objetivo of getObjetivosEspecificos(); let p = index"
      formArrayName="objetivosEspecificos">
      <ng-container [formGroupName]="p">
        <div class="acoes-desenvolvidas__planos-header">
          <p class="primary-title">
            {{ objetivo.value.nomeObjetivo }}
          </p>
          <p class="primary-text">Planos de ação:</p>
        </div>
        <div class="acoes-desenvolvidas__planos-tabela">
          <table>
            <tbody>
              <ng-container formGroupName="planosDeAcao">
                <tr *ngFor="let plano of getPlanoAcao(objetivo); let i = index" [formArrayName]="i">
                  <td>
                    {{ plano.value.descricao }}
                  </td>
                  <td style="text-align: right">
                    <mat-radio-group formControlName="realizado" (change)="checkOpenJustificationDialog(plano, $event.value)">
                      <mat-radio-button color="primary" [value]="true" style="margin-right: 20px">
                        Realizado
                      </mat-radio-button>
                      <mat-radio-button color="primary" [value]="false">
                        Não realizado
                      </mat-radio-button>
                    </mat-radio-group>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </ng-container>
    </div>
  </ng-container>
</form>
