<form [formGroup]="form" class="album">
  <!-- <ng-container formGroupName="albuns"> -->
  <h5 class="album__title">Adicionar álbum</h5>

  <mat-form-field appearance="outline">
    <mat-label>Nome do álbum</mat-label>
    <input matInput formControlName="nomeAlbum" />
  </mat-form-field>

  <div class="input-section">
    <mat-form-field appearance="outline">
      <mat-label>Legenda</mat-label>
      <textarea matInput rows="10" formControlName="legenda"></textarea>
    </mat-form-field>
  </div>

  <div class="album__uploaded-images">
    <ng-container *ngFor="let img of images">
      <div class="album__uploaded-images--image">
        <img [src]="img" alt="">
      </div>
    </ng-container>

  </div>

  <div class="album__input-file">
    <!-- <mat-form-field appearance="outline" class="mw-323">
      <mat-label>{{ 'fileName' || 'Nenhum arquivo selecionado' }}</mat-label>
      <input matInput readonly>
    </mat-form-field> -->

    <input type="file" id="file" (change)="onFileChange($event?.target)">
    <label for="file">
      <mat-icon aria-hidden="false" aria-label="upload">file_upload</mat-icon>
      Procurar
    </label>
  </div>

  <span class="file-options">Tamanho máximo por foto: 10 MB. Arquivos válidos: .gif, .png, .jpg e .jpeg.</span>

  <div class="acoes-modal">
    <button class="cancel" type="button" (click)="cancel()">Cancelar</button>
    <button class="save" type="button" (click)="save()">Confirmar</button>
  </div>
  <!-- </ng-container> -->
</form>
