<div class="stepper">
  <div class="stepper__steps">
    <ng-container *ngFor="let step of steps; let i = index">
      <div class="stepper__steps__step" (click)="changeStep(i)">
        <div class="stepper__steps__step__image"
          [ngClass]="{'current': !step.valid && currentStep === i, 'valid': step.valid}">
          <!-- <img *ngIf="!step.valid" src="" alt="step"> -->
          <img *ngIf="currentStep === i && !step.valid" src="/assets/icons/stepper_fill.svg" alt="step">
          <img *ngIf="step.valid" src="/assets/icons/step_done.svg" alt="step">
          <img *ngIf="currentStep === i" src="/assets/icons/stepper_triangle.svg" alt="triangle" class="triangle">
        </div>
        <span class="stepper__steps__step__title">{{ step.title }}</span>
      </div>
    </ng-container>
  </div>
</div>
