.stepper {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100%;
  height: 100%;

  background-color: #f9f9f9;

  &__steps {
    display: flex;

    &__step {
      display: flex;
      align-items: center;

      cursor: pointer;

      &__image {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #f9f9f9;
        // background-color: #84838a;
        border: 2px solid #84838a;

        min-width: 48px;
        min-height: 48px;

        border-radius: 50%;

        position: relative;

        .triangle {
          position: absolute;

          bottom: -45px;
        }
      }

      &__title {
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.3px;

        color: #84838a;

        margin-left: 8px;

        // max-width: 105px;
      }

      &:not(:first-child) {
        margin-left: 16px;
      }

      &:not(:last-child)::after {
        content: "";
        width: 93px;
        height: 1px;
        margin-left: 8px;

        background-color: #84838a;
      }
    }
  }
}

.valid {
  border: 2px solid #609e27;
}

.current {
  background-color: #84838a;
}

// Mobile //

@media (max-width: 1000px) {
  .stepper {
    &__steps {
      overflow-x: auto;
      overflow-y: hidden;
      width: 100%;

      &__step {
        &__image {
          min-width: 28px;
          min-height: 28px;

          img {
            min-width: 15px;
            min-height: 15px;
          }

          .triangle {
            display: none;
          }
        }

        &__title {
          font-size: 10px;
          line-height: 12px;
        }

        &:not(:last-child)::after {
          display: none;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
