<form class="dialog" [formGroup]="form" *ngIf="form">
  <div class="dialog--title">Adicionar</div>

  <div class="input-section" style="margin-top: 50px">
    <div class="input-section__radio">
      <label id="example-radio-group-label">Qual o setor?</label>
      <mat-radio-group aria-labelledby="role" formControlName="userRole">
        <mat-radio-button [value]="0"> Novo(a) participante </mat-radio-button>
        <mat-radio-button [value]="1"> Novo(a) curador(a) </mat-radio-button>
        <mat-radio-button [value]="2">
          Novo(a) Administrador(a)
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <mat-form-field appearance="outline" style="margin-top: 25px">
    <mat-label>E-mail do novo usuário</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin-top: 25px">
    <mat-label>Confirme o e-mail</mat-label>
    <input matInput formControlName="emailConfirmation" />
  </mat-form-field>

  <div class="dialog__actions">
    <button type="button" class="dialog__actions--btn back" (click)="close()">
      Cancelar
    </button>
    <button
      type="button"
      class="dialog__actions--btn next"
      (click)="createUser()"
    >
      Adicionar
    </button>
  </div>
</form>
