<div class="listagem-projetos">
  <div class="listagem-projetos__filtro">
    <form [formGroup]="filtroProjetos">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" placeholder="Nome" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Ciclo</mat-label>
        <mat-select>
          <mat-option *ngFor="let ciclo of ciclos" [value]="ciclo.value">
            {{ ciclo.desc }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="c-button c-button__outline" (click)="resetFilter()">Limpar</button>
      <button class="c-button c-button__primary" (click)="filtrar()">Filtrar</button>
    </form>
  </div>
  <div class="listagem-projetos__listagem">
    <div class="listagem-projetos__header">
      <div class="listagem-projetos__titulo">Listagem de projetos</div>
      <!-- <div class="listagem-projetos__novo">
        <a
          (click)="projectService.createProject()"
          class="c-button c-button__danger"
        >
          <mat-icon>add_circle_outline</mat-icon>
          Novo projeto
        </a>
      </div> -->
    </div>
    <div class="listagem-projetos__tabela">
      <table>
        <h3
          *ngIf="projetos.length === 0"
          style="
            font-family: Raleway;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: 0.4px;
            color: #333333;
            margin-top: 20px;
          "
        >
          Nenhum resultado encontrado.
        </h3>
        <thead>
          <tr>
            <!-- <th>Número</th> -->
            <th>Nome</th>
            <th>Organização</th>
            <!-- <th>Tipo</th>
              <th>Participante</th>
              <th>Status cadastro</th>
              <th>Status Curadoria 1</th>
              <th>Status Curadoria 2</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let projeto of projetos">
            <!-- <td>{{ projeto?.numero || 'Indefinido' }}</td> -->
            <td style="cursor: pointer" (click)="openProjectDialog(projeto)">
              {{ projeto?.geral?.nome || "Indefinido" }}
            </td>
            <td style="cursor: pointer" (click)="openOrganizationDialog(projeto.ownerOrganizationId)">
              {{ projeto?.ownerOrganizationName || "Indefinido" }}
            </td>
            <!-- <td>{{ projeto?.tipo || 'Indefinido' }}</td>
              <td>{{ projeto?.participante || 'Indefinido' }}</td>
              <td>{{ projeto?.statusCadastro || 'Indefinido' }}</td>
              <td>{{ projeto?.statusCuradoria1 || 'Indefinido' }}</td>
              <td>{{ projeto?.statusCuradoria2 || 'Indefinido'}}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
