<form [formGroup]="form" *ngIf="form" class="cadastro-projeto-geral">
  <ng-container formGroupName="geral">
    <div class="cadastro-projeto-geral__row">
      <mat-form-field appearance="outline" style="max-width: 632px;">
        <mat-label>Título do Projeto</mat-label>
        <input matInput placeholder="Título do Projeto" formControlName="nome" />
      </mat-form-field>
    </div>
    <div class="cadastro-projeto-geral__row">
      <div class="cadastro-projeto-geral__checkboxes">
        <label> Quais são os eixos do projeto? </label>
        <div class="cadastro-projeto-geral__checkboxes-opcoes">
          <ng-container formArrayName="eixosProjeto">
            <mat-checkbox [formControlName]="i" *ngFor="let eixoProjeto of eixosProjeto; let i = index" color="primary">
              {{ eixoProjeto }}
            </mat-checkbox>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="cadastro-projeto-geral__row">
      <div class="input-section__radio row">
        <label id="example-radio-group-label"> Qual é o tipo do projeto? </label>
        <mat-radio-group formControlName="tipoProjeto">
          <div class="cadastro-projeto-geral__checkboxes-opcoes">
            <ng-container *ngFor="let tipoProjeto of tiposProjeto">
              <mat-radio-button [value]="tipoProjeto">
                {{ tipoProjeto }}
              </mat-radio-button>
            </ng-container>
          </div>
        </mat-radio-group>
      </div>
    </div>
    <div class="cadastro-projeto-geral__row">
      <div class="cadastro-projeto-geral__checkboxes">
        <label>Quais as ODS de atuação?</label>
        <div class="cadastro-projeto-geral__checkboxes-selos">
          <ng-container formGroupName="finalidadesSelosOds">
            <ng-container *ngFor="let ods of getSelosOdsArray(); let i = index" [formArrayName]="i">

              <mat-checkbox formControlName="checked" color="primary">
                <img class="ods-image" [src]="ods.value.url" alt="ods">
              </mat-checkbox>
            </ng-container>
            <!-- <mat-checkbox *ngFor="let ods of selosOds; let i = index" [formControlName]="i" color="primary"><img
                class="ods-image" [src]="ods.url" alt="ods">
            </mat-checkbox> -->
            <!-- <mat-checkbox *ngFor="let selo of selosOds" color="primary" value="{{ selo.id }}">
            <img [src]="selo.imagem" [alt]="selo.id" />
          </mat-checkbox> -->
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</form>
