@import "~src/scss/styles";

.cadastro-projeto-geral {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #333333;

  &__row {
    mat-form-field {
      width: 100%;
    }
  }

  &__checkboxes {
    &-opcoes {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    &-selos {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;

      img {
        margin-left: 10px;
      }
    }
  }
}
