<form class="container" [formGroup]="form">
  <h5 class="container__title">Adicionar Instituição parceira</h5>

  <div class="input-section">
    <mat-form-field appearance="outline">
      <mat-label>CNPJ</mat-label>
      <input matInput formControlName="cnpj" mask="00.000.000/0000-00" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nome da Instituição</mat-label>
      <input matInput formControlName="nome" />
    </mat-form-field>
  </div>

  <div class="container__form-actions">
    <button class="cancel" type="button" (click)="close(0)">Cancelar</button>
    <button class="save" type="button" (click)="close(1)">Adicionar</button>
  </div>
</form>
