@import "~src/scss/styles";

.container {
  padding: 30px;

  &__title {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.4px;

    color: #000000;

    margin-bottom: 50px;
  }

  &__form-actions {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 8px;
      padding: 10px 0;
      font-size: 14px;
      width: 160px;

      font-weight: 700;

      cursor: pointer;
    }

    .cancel {
      background-color: #fff;
      color: #dd1367;

      border: 1px solid transparent;
    }

    .save {
      background-color: #dd1367;
      border: 1px solid #dd1367;

      color: #fff;

      margin-left: 16px;
    }
  }
}
