@import "~src/scss/styles";

.container {
  background-color: #fff;
  margin: 0 auto;

  .objetivos {
    margin: 0 auto;

    width: 100%;
    max-width: 1125px;

    &__objetivo-geral {
      margin-bottom: 55px;

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__text {
          font-weight: 600;
          font-size: 18px;
          font-family: Open Sans !important;
          letter-spacing: 0.4px;

          line-height: 32px;
          color: #333333;
        }

        .done {
          display: flex;
          align-items: center;

          img {
            width: 14px;
            height: 14px;
          }

          span {
            font-size: 16px;

            letter-spacing: 0.4px;
            color: #333333;

            margin-left: 13px;
          }
        }
      }

      &__card {
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

        padding: 22px 27px 40px 27px;
        margin-top: 23px;

        &--text {
          font-size: 16px;

          letter-spacing: 0.4px;
          color: #333333;

          line-height: 32px;
        }

        &__justificativa {
          display: flex;
          flex-direction: column;

          margin-top: 52px;
          border-top: 1px solid #e6e6e6;
          padding-top: 10px;

          &--title {
            font-weight: 600;
            font-size: 18px;

            letter-spacing: 0.4px;
            color: #333333;
            margin-bottom: 18px;
          }

          &--text {
            font-family: Open Sans !important;
            font-size: 16px;

            line-height: 32px;
            letter-spacing: 0.4px;
            color: #333333;
          }
        }
      }
    }

    &__objetivo-especifico--title {
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0.4px;

      color: #333333;
    }

    &__objetivo-especifico {
      padding: 16px 25px;

      margin: 23px 0 16px 0;

      // margin-top: 13px;

      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

      &__header {
        display: flex;
        flex-direction: column;
        border-radius: 8px 8px 0px 0px;

        padding: 23px 19px;
        background-color: #f9f9f9;

        &--justificativa {
          display: flex;
          justify-content: space-between;
          align-items: center;

          margin-bottom: 18px;

          span {
            font-weight: 600;
            font-size: 18px;

            letter-spacing: 0.4px;
            color: #333333;
            flex: 6;
          }

          .done {
            display: flex;
            align-items: center;

            flex: 1;

            img {
              width: 14px;
              height: 14px;
            }

            span {
              font-size: 16px;

              letter-spacing: 0.4px;
              color: #333333;

              margin-left: 13px;
            }
          }
        }

        &--text {
          font-family: Open Sans !important;
          font-size: 16px;

          letter-spacing: 0.4px;
          line-height: 32px;
          color: #333333;
        }
      }

      &__card {
        padding: 22px 27px;
        margin-top: 23px;

        .title {
          font-weight: 600;
          font-size: 18px;
          letter-spacing: 0.4px;

          color: #333333;

          margin-bottom: 32px;
        }

        &__actions {
          display: flex;
          flex-direction: column;

          &--action {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin: 16px 0;
            span {
              font-size: 18px;
              letter-spacing: 0.4px;

              color: #84838a;

              flex: 6;
            }

            .done {
              display: flex;
              align-items: center;
              flex: 1;

              img {
                width: 14px;
                height: 14px;
              }

              span {
                font-size: 16px;

                letter-spacing: 0.4px;
                color: #333333;

                margin-left: 13px;
              }
            }
          }
        }
      }
    }
  }
}
