<div class="container">
  <div class="objetivos">
    <div class="objetivos__objetivo-geral">
      <div class="objetivos__objetivo-geral__header">
        <span class="objetivos__objetivo-geral__header__text">
          Objetivo geral
        </span>
        <!-- <div class="done">
          <img src="/assets/icons/undone.svg" alt="undone" />
          <span>Não realizado</span>
        </div> -->
      </div>

      <div class="objetivos__objetivo-geral__card">
        <div class="objetivos__objetivo-geral__card--text">
          {{ project?.objetivos?.objetivoGeral }}
        </div>

        <div class="objetivos__objetivo-geral__card__justificativa">
          <span class="objetivos__objetivo-geral__card__justificativa--title">
            Justificativa
          </span>
          <span class="objetivos__objetivo-geral__card__justificativa--text">
            {{ project?.objetivos?.justificativa }}
          </span>
        </div>
      </div>
    </div>

    <span class="objetivos__objetivo-especifico--title">
      Objetivos específicos
    </span>

    <div class="objetivos__objetivo-especifico">
      <!-- <div class="objetivos__objetivo-especifico__header">
        <div class="objetivos__objetivo-especifico__header--justificativa">
          <span>Justificativa</span>
          <div class="done">
            <img src="/assets/icons/undone.svg" alt="undone" />
            <span>Não realizado</span>
          </div>
        </div>

        <div class="objetivos__objetivo-especifico__header--text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error
          illo repellendus, voluptas fugit accusamus doloribus aliquam harum
          quae voluptatum dolore esse eligendi. Molestiae esse saepe suscipit
          non, a tenetur.
        </div>
      </div> -->

      <div class="objetivos__objetivo-especifico__card">
        <div class="title">Planos de ação:</div>
        <ng-container
          *ngFor="let objetivo of project?.objetivos?.objetivosEspecificos"
        >
          <ng-container
            *ngFor="let objetivoEspecifico of objetivo?.planosDeAcao"
          >
            <div class="objetivos__objetivo-especifico__card__actions">
              <div
                class="objetivos__objetivo-especifico__card__actions--action"
              >
                <span>{{ objetivoEspecifico?.descricao }}</span>

                <div class="done" *ngIf="objetivoEspecifico?.realizado">
                  <img src="/assets/icons/done.svg" alt="done" />
                  <span>Realizado</span>
                </div>

                <div class="done" *ngIf="!objetivoEspecifico?.realizado">
                  <img src="/assets/icons/undone.svg" alt="undone" />
                  <span>Não realizado</span>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
