<form [formGroup]="form" class="cadastro-projeto-justificativa">
  <div class="cadastro-projeto-justificativa__titulo primary-title">
    Justificativa *
  </div>
  <div class="cadastro-projeto-justificativa__input">
    <mat-form-field appearance="outline">
      <textarea matInput formControlName="justificativa" placeholder="Digite aqui..." rows="10"></textarea>
    </mat-form-field>
    <p class="primary-text">* Obrigatório</p>
  </div>
</form>
