<form [formGroup]="form" class="investimentos">
  <ng-container formGroupName="investimentos">
    <div class="investimentos__item">
      <div class="investimentos__titulo primary-text">Exibir publicamente os investimentos no site?</div>
      <div class="investimentos__radio">
        <mat-radio-group formControlName="exibirInvestimentosSite">
          <mat-radio-button color="primary" [value]="true" style="margin-right: 20px">
            <span class="primary-text">Sim</span>
          </mat-radio-button>
          <mat-radio-button color="primary" [value]="false">
            <span class="primary-text">Não</span>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="investimentos__item">
      <div class="investimentos__titulo primary-text">O valor do investimento no seu projeto é:</div>
      <div class="investimentos__checkbox" formArrayName="valorInvestimento">
        <mat-checkbox *ngFor="let investimento of investimentos; let i = index" color="primary" [formControlName]="i">
          <span class="primary-text">
            {{ investimento }}
          </span>
        </mat-checkbox>
      </div>
    </div>
    <div class="investimentos__item">
      <div class="investimentos__titulo primary-text">Informe o valor em reais:</div>
      <div class="investimentos__checkbox">
        <mat-form-field appearance="outline">
          <input matInput mask="separator.2" thousandSeparator="." prefix="R$ "  placeholder="R$" formControlName="valorReais" />
        </mat-form-field>
      </div>
    </div>
    <div class="investimentos__item">
      <div class="investimentos__titulo">
        <p class="primary-text">Informe o número de docentes envolvidos</p>
        <small class="primary-text">(Digite 0 se não houver nenhum)</small>
      </div>
      <div class="investimentos__checkbox">
        <mat-form-field appearance="outline">
          <input matInput formControlName="docentesEnvolvidos" />
        </mat-form-field>
      </div>
    </div>
    <div class="investimentos__item">
      <div class="investimentos__titulo">
        <p class="primary-text">Informe o número de servidores técnico-administrativos envolvidos</p>
        <small class="primary-text">(Digite 0 se não houver nenhum)</small>
      </div>
      <div class="investimentos__checkbox">
        <mat-form-field appearance="outline">
          <input matInput formControlName="servidoresTecnico" />
        </mat-form-field>
      </div>
    </div>
    <div class="investimentos__item">
      <div class="investimentos__titulo primary-text">O projeto promove/promoveu bolsas?</div>
      <div class="investimentos__radio">
        <mat-radio-group formControlName="projetoPromoveBolsas">
          <mat-radio-button color="primary" [value]="true" style="margin-right: 20px">
            <span class="primary-text">Sim</span>
          </mat-radio-button>
          <mat-radio-button color="primary" [value]="false">
            <span class="primary-text">Não</span>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <ng-container *ngIf="form?.get('investimentos')?.get('projetoPromoveBolsas')?.value">
      <div class="investimentos__item">
        <div class="investimentos__titulo">
          <p class="primary-text">Se sim, quantas de Iniciação Científica?</p>
          <small class="primary-text">(Digite 0 se não houver nenhum)</small>
        </div>
        <div class="investimentos__checkbox">
          <mat-form-field appearance="outline">
            <input matInput formControlName="bolsasIniciacaoCientifica" />
          </mat-form-field>
        </div>
      </div>

      <div class="investimentos__item">
        <div class="investimentos__titulo">
          <p class="primary-text">Se sim, quantas de Extensão?</p>
          <small class="primary-text">(Digite 0 se não houver nenhum)</small>
        </div>
        <div class="investimentos__checkbox">
          <mat-form-field appearance="outline">
            <input matInput formControlName="bolsasExtensao" />
          </mat-form-field>
        </div>
      </div>

      <div class="investimentos__item">
        <div class="investimentos__titulo">
          <p class="primary-text">Se sim, quantas de Mestrado?</p>
          <small class="primary-text">(Digite 0 se não houver nenhum)</small>
        </div>
        <div class="investimentos__checkbox">
          <mat-form-field appearance="outline">
            <input matInput formControlName="bolsasMestrado" />
          </mat-form-field>
        </div>
      </div>

      <div class="investimentos__item">
        <div class="investimentos__titulo">
          <p class="primary-text">Se sim, quantas de Doutorado?</p>
          <small class="primary-text">(Digite 0 se não houver nenhum)</small>
        </div>
        <div class="investimentos__checkbox">
          <mat-form-field appearance="outline">
            <input matInput formControlName="bolsasDoutorado" />
          </mat-form-field>
        </div>
      </div>
    </ng-container>
  </ng-container>
</form>
