<form [formGroup]="form" class="cadastro-projeto-resumo">
  <div class="cadastro-projeto-resumo__titulo primary-title">
    Resumo *
  </div>
  <div class="cadastro-projeto-resumo__input">
    <mat-form-field appearance="outline">
      <textarea matInput placeholder="Digite aqui..." rows="10" formControlName="resumo"></textarea>
    </mat-form-field>
    <p class="primary-text">* Obrigatório</p>
  </div>
</form>
