<div class="listagem-usuarios">
  <div class="listagem-usuarios__filtro">
    <form [formGroup]="filtroUsuariosForm">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" placeholder="Nome" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tipo cadastro</mat-label>
        <mat-select formControlName="tipoCadastro">
          <mat-option *ngFor="let cadastro of tiposCadastro" [value]="cadastro.value">
            {{ cadastro.desc }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="wp-393">
        <mat-label>Ciclo</mat-label>
        <mat-select formControlName="ciclo">
          <mat-option *ngFor="let ciclo of ciclos" [value]="ciclo.value">
            {{ ciclo.desc }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <div class="wrapper">
        <button class="c-button c-button__outline" (click)="resetFilter()">Limpar</button>
        <button class="c-button c-button__primary" (click)="filtrar()">Filtrar</button>
      </div>
    </form>
  </div>

  <div class="listagem-usuarios__listagem">
    <div class="listagem-usuarios__header">
      <div class="listagem-usuarios__titulo">Listagem de usuarios</div>
      <div class="listagem-usuarios__header__novo">
        <a (click)="createCurator()" class="c-button c-button__danger">
          <mat-icon>add_circle_outline</mat-icon>
          Adicionar usuário
        </a>
      </div>
    </div>
    <div class="listagem-usuarios__tabela">
      <table>
        <h3
          *ngIf="usuarios.length === 0"
          style="
            font-family: Raleway;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: 0.4px;
            color: #333333;
            margin-top: 20px;
          "
        >
          Nenhum resultado encontrado.
        </h3>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Organização</th>
            <th>Tipo cadastro</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td class="clickable" [routerLink]="['/usuarios', usuario?.id]">
              {{ usuario?.nome || "Indefinido" }}
            </td>
            <td class="clickable" (click)="openOrganizationDialog(usuario.organizationId)">
              {{ usuario?.organizationName || "Indefinido" }}
            </td>
            <td>
              {{ IUserRole[usuario.role] || "Indefinido" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
