<div class="dialog">
  <div class="dialog--title">Editar permissões</div>

  <div class="dialog__permissions">
    <!-- <h5 class="dialog__permissions--title">Permissões</h5> -->

    <div class="input-section" style="margin-top: 54px">
      <div class="input-section__radio" style="width: 100%">
        <label
          id="example-radio-group-label"
          style="
            font-family: Open Sans;
            font-size: 16px;
            letter-spacing: 0.4px;
            color: #84838a;
          "
        >
          Permissões
        </label>

        <mat-radio-group
          aria-labelledby="permissao"
          [(ngModel)]="role"
          required
        >
          <ng-container *ngFor="let permission of permissions">
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <span
                style="
                  font-family: Open Sans;
                  font-weight: normal;
                  font-size: 18px;
                  letter-spacing: 0.4px;
                  color: #333333;
                "
              >
                {{ permission.description }}
              </span>
              <mat-radio-button [value]="permission.role"></mat-radio-button>
            </div>
          </ng-container>
        </mat-radio-group>
      </div>
    </div>

    <!-- <div class="dialog__permissions__list">
      <div class="dialog_permissions__list__item">
        <span class="dialog_permissions__list__item--text"></span>
      </div>
    </div> -->
  </div>

  <div class="dialog__confirm">
    <button class="dialog__confirm--btn" (click)="updateRole()">
      Confirmar
    </button>
  </div>

  <div class="dialog__actions">
    <button type="button" class="dialog__actions--btn back" (click)="close()">
      Cancelar
    </button>
    <button
      type="button"
      class="dialog__actions--btn next"
      (click)="deleteUser()"
    >
      Excluir usuário
    </button>
  </div>
</div>
