@import "~src/scss/styles";

.dialog {
  width: 100vw;
  max-width: 418px;

  max-height: 600px;

  padding: 40px 28px;

  &--title {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.4px;

    color: #000000;

    text-align: center;
  }

  &__confirm {
    display: flex;
    justify-content: center;

    margin-top: 83px;

    &--btn {
      width: 100%;
      max-width: 345px;

      color: #fff;
      background-color: #dd1367;

      border-radius: 8px;
      border: 1px solid #dd1367;

      padding: 13px;

      cursor: pointer;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;

    margin-top: 62px;
    padding-bottom: 40px;

    &--btn {
      width: 100%;
      max-width: 180px;
      height: 45px;

      border-radius: 8px;

      cursor: pointer;
    }

    .back {
      border: none;

      background: none;
      color: #84838a;
    }

    .next {
      margin-left: 16px;

      border: none;

      background-color: #cf0505;
      border: 1px solid #cf0505;

      color: #fff;
    }
  }
}

:host .mat-radio-label {
  flex-direction: column-reverse;
  .mat-radio-label-content {
    padding: 0;
  }
}
