<form [formGroup]="form" class="video">
  <!-- <ng-container formGroupName="albuns"> -->
  <h5 class="video__title">Adicionar video</h5>

  <mat-form-field appearance="outline">
    <mat-label>Nome do video</mat-label>
    <input matInput formControlName="nomeVideo" />
  </mat-form-field>

  <div class="input-section">
    <mat-form-field appearance="outline">
      <mat-label>Legenda</mat-label>
      <textarea matInput rows="10" formControlName="legenda"></textarea>
    </mat-form-field>
  </div>

  <!-- <div class="video__input-file">
    <mat-form-field appearance="outline" class="mw-323">
      <mat-label>{{ 'fileName' || 'Nenhum arquivo selecionado' }}</mat-label>
      <input matInput readonly>
    </mat-form-field>

    <input type="file" id="file" (change)="onFileChange($event?.target)">
    <label for="file">
      <mat-icon aria-hidden="false" aria-label="upload">file_upload</mat-icon>
      Procurar
    </label>
  </div>

  <span class="file-options">Tamanho máximo por vídeo: 20 MB. Arquivos válidos: .mov .mp4 .avi .mpg</span> -->

  <span class="file-options">URL (Youtube/Vimeo)</span>
  <!-- <span class="file-options">Ou adicione via URL (Youtube/Vimeo)</span> -->

  <mat-form-field appearance="outline">
    <!-- <mat-label>Nome do álbum</mat-label> -->
    <input matInput placeholder="Digitar link..." formControlName="linkVideo" />
  </mat-form-field>


  <div class="acoes-modal">
    <button class="cancel" type="button" (click)="cancel()">Cancelar</button>
    <button class="save" type="button" (click)="save()">Confirmar</button>
  </div>
  <!-- </ng-container> -->
</form>
