.welcome {
  background-color: #fff;
  width: 100%;
  height: 100%;

  overflow-y: auto;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
    padding: 110px 0;

    width: 100%;
    max-width: 1081px;
    &__header {
      &--title {
        font-size: 32px;
        color: #000;
      }

      &--subtitle {
        font-size: 16px;
        color: #000;
      }
    }

    &__section {
      margin-top: 100px;
      &__agenda,
      &__video {
        display: flex;

        img {
          max-width: 733px;
          object-fit: cover;
        }

        &--text {
          display: flex;
          flex-direction: column;

          justify-content: space-between;

          margin-left: 27px;

          max-width: 294px;

          .title {
            font-weight: 600;
            font-size: 18px;

            color: #333333;
          }

          .body {
            font-size: 18px;
            line-height: 32px;
          }

          .link {
            font-weight: 600;
            font-size: 16px;

            color: #000000;

            a {
              color: #333;
            }
          }
        }
      }

      &__video {
        &--text {
          justify-content: flex-start;

          margin-left: 0;
          margin-right: 27px;

          .body {
            margin-top: 16px;
          }
        }
      }
    }

    &__objetivos {
      display: flex;
      flex-direction: column;

      margin-top: 150px;

      &__title {
        font-weight: 600;
        font-size: 20px;

        color: #333333;

        margin-bottom: 40px;
      }

      &__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        & + div {
          margin-top: 93px;
        }

        span {
          max-width: 809px;
          font-size: 18px;
        }

        button {
          border: none;
          background-color: #ff7535;
          color: #fff;
          border-radius: 8px;

          width: 100%;
          max-width: 208px;
          max-height: 45px;

          font-size: 16px;
          font-weight: bold;

          padding: 13px 0;

          cursor: pointer;
        }
      }
    }

    &__cadastro {
      margin-top: 180px;
      align-self: center;

      border: none;
      color: #fff;

      border-radius: 8px;

      width: 100%;
      max-width: 256px;

      background-color: #dd1367;

      padding: 12px 0;

      cursor: pointer;
      font-weight: 700;
      letter-spacing: 0.3px;
    }
  }
}

// Mobile //
@media (max-width: 1100px) {
  .welcome {
    &__container {
      align-items: center;

      padding: 30px 10px;

      max-width: 90%;
      &__header {
        &--title {
          font-size: 16px;
        }

        &--subtitle {
          font-size: 12px;
        }
      }

      &__section {
        margin-top: 40px;

        &__agenda,
        &__video {
          flex-direction: column;
          align-items: center;

          iframe {
            height: 30vh;

            max-width: 90%;

            margin-top: 20px;
          }

          img {
            display: none;
          }

          &--text {
            margin-left: 0;

            max-width: 100%;

            .title {
              font-size: 14px;
            }

            .body {
              font-size: 12px;
              line-height: 24px;
              margin-top: 16px;
            }

            .link {
              font-size: 12px;
            }
          }
        }
      }

      &__objetivos {
        margin-top: 70px;

        &__title {
          font-size: 14px;

          margin-bottom: 20px;
        }

        &__item {
          flex-direction: column;
          align-items: center;

          img {
            display: none;
          }

          & + div {
            margin-top: 43px;
          }

          span {
            font-size: 12px;
          }

          button {
            margin-top: 5px;
            max-width: 100%;

            font-size: 12px;

            padding: 5px 0;
          }
        }
      }

      &__cadastro {
        margin-top: 60px;
      }
    }
  }
}
