<div class="welcome">
  <div class="welcome__container">
    <div class="welcome__container__header">
      <!-- <h5 class="welcome__container__header--title">Seja bem-vindo(a), Lucas!</h5> -->
      <span class="welcome__container__header--subtitle">
        Siga os conteúdos abaixo para entender como funciona o Selo ODS e possa
        prosseguir com seu cadastro.
      </span>
    </div>

    <div class="welcome__container__section">
      <section class="welcome__container__section__agenda">
        <img src="/assets/images/welcome_book.png" />

        <div class="welcome__container__section__agenda--text">
          <span class="title">Guia Agenda 2030</span>
          <span class="body">
            O Guia Agenda 2030: integrando ODS, educação e sociedade. Um
            material de inestimável valor educativo, comunicacional e de
            compromisso político com ODS para ser aplicado em universidades mas,
            que também pode ser consultado por qualquer organização pois
            disponibiliza boas práticas de ação junto ao alcance das metas dos
            ODS, feito pela Unesp, UnB e LM&Companhia.
          </span>

          <span class="link">
            <a [href]="mainLinks.guiaAgenda" target="_blank"> Clique aqui</a> para acessar o site.
          </span>
        </div>
      </section>
    </div>

    <div class="welcome__container__section">
      <section class="welcome__container__section__video">
        <div class="welcome__container__section__video--text">
          <span class="title"> Assista o Video Institucional </span>
          <span class="body">
            O Projeto de Extensão Agenda2030, o coletivo Roda das Mina, o
            FIB2030 (Plataforma de Desenvolvimento Comunitário) e o Instituto
            Selo Social se uniram na criação do Selo ODS para Instituições de
            Ensino Superior, uma certificação que visibiliza projetos inovadores
            e práticas associadas as ODS.
          </span>
        </div>

        <iframe
          width="730"
          height="382"
          [src]="mainLinks.videoInstitucional | safe"
        >
        </iframe>
      </section>
    </div>

    <div class="welcome__container__objetivos">
      <h5 class="welcome__container__objetivos__title">
        Leia mais sobre os Objetivos de Desenvolvimento Sustentável (ODS):
      </h5>

      <ng-container *ngFor="let item of items">
        <div class="welcome__container__objetivos__item">
          <img src="/assets/icons/check_circle.svg" />
          <span>
            <a [href]="item.link" target="_blank">
              {{ item.linkName }}
            </a>
            {{ item.text }}
          </span>
          <button type="button">Visualizar</button>
        </div>
      </ng-container>
    </div>

    <button
      *ngIf="
        sessionService.getSession() && sessionService.getSessionFirstLogin()
      "
      class="welcome__container__cadastro"
      type="button"
      (click)="sendToRegister()"
    >
      Começar cadastro
    </button>
  </div>
</div>
