<form [formGroup]="form">
  <ng-container formGroupName="dadosCadastrais">
    <div class="input-section">
      <mat-form-field appearance="outline" class="mw-323">
        <mat-label>CNPJ</mat-label>
        <input
          matInput
          mask="00.000.000/0000-00"
          formControlName="cnpj"
          required
          [readonly]="sessionService.isCuratorRef() || authService.getUserRole() === userRoles.Adm"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="mw-323">
        <mat-label>Nome da Instituição</mat-label>
        <input
          matInput
          formControlName="nomeInstituicao"
          required
          [readonly]="sessionService.isCuratorRef() || authService.getUserRole() === userRoles.Adm"
        />
        <span class="floating-label">Como deseja ser identificada</span>
      </mat-form-field>
    </div>

    <div class="input-section" style="margin-top: 50px">
      <div class="input-section__radio">
        <label id="example-radio-group-label">Qual o setor?</label>
        <mat-radio-group
          aria-labelledby="como-ficou-sabendo-do-programa"
          formControlName="setor"
          required
          [disabled]="sessionService.isCuratorRef() || authService.getUserRole() === userRoles.Adm"
        >
          <mat-radio-button *ngFor="let setor of setores" [value]="setor">
            {{ setor }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="input-section" style="margin-top: 50px">
      <div class="input-section__radio">
        <label id="example-radio-group-label">Qual a abrangência?</label>
        <mat-radio-group
          aria-labelledby="como-ficou-sabendo-do-programa"
          formControlName="abrangencia"
          required
          [disabled]="sessionService.isCuratorRef() || authService.getUserRole() === userRoles.Adm"
        >
          <mat-radio-button
            *ngFor="let abrangencia of abrangencias"
            [value]="abrangencia"
          >
            {{ abrangencia }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </ng-container>
</form>
