<form [formGroup]="form" class="publico">
  <h5 class="publico__title">Adicionar público específico</h5>

  <div class="input-section">
    <mat-form-field appearance="outline">
      <mat-label>Nome do público</mat-label>
      <input matInput formControlName="nomePublico">
    </mat-form-field>
  </div>

  <div class="input-section">
    <mat-form-field appearance="outline">
      <mat-label>Descrição do público</mat-label>
      <textarea formControlName="descricaoPublico" matInput rows="5"></textarea>
    </mat-form-field>
  </div>


  <div class="input-section" style="margin-top: 50px;">
    <div class="input-section__radio" style="display: flex; flex-direction: column;">
      <label id="example-radio-group-label">Qual o âmbito do impacto gerado?</label>
      <mat-radio-group aria-labelledby="como-ficou-sabendo-do-programa" formControlName="ambitoImpactoGerado"
        style="margin-top: 15px; display: flex; flex-direction: column;">
        <mat-radio-button style="margin: 5px 0;" value="bairro/comunidade">Bairro/comunidade</mat-radio-button>
        <mat-radio-button style="margin: 5px 0;" value="municipal">Municipal</mat-radio-button>
        <mat-radio-button style="margin: 5px 0;" value="estadual">Estadual</mat-radio-button>
        <mat-radio-button style="margin: 5px 0;" value="Federal">Federal</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="input-section" style="margin-top: 50px;">
    <div class="input-section__radio" style="display: flex; flex-direction: column;">
      <label id="example-radio-group-label">Tipo de impacto:</label>
      <mat-radio-group aria-labelledby="como-ficou-sabendo-do-programa" formControlName="tipoDeImpacto"
        style="margin-top: 15px; display: flex; flex-direction: column;">
        <mat-radio-button style="margin: 5px 0;" value="interno">Interno</mat-radio-button>
        <mat-radio-button style="margin: 5px 0;" value="externo">Externo</mat-radio-button>
        <mat-radio-button style="margin: 5px 0;" value="ambos">Ambos</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="input-section" style="margin-top: 50px;">
    <mat-form-field appearance="outline">
      <mat-label>Endereço principal (se houver)</mat-label>
      <input matInput formControlName="endereco">
    </mat-form-field>
  </div>

  <div class="acoes-modal">
    <button class="cancel" type="button" (click)="cancel()">Cancelar</button>
    <button class="save" type="button" (click)="save()">Salvar</button>
  </div>
</form>
