<div class="header">
  <img class="header__logo" src="/assets/images/logo_white.png" alt="">

  <span class="header__title">{{ title }}</span>

  <img class="header__circle" src="/assets/images/header_color_circle.svg">
</div>
