@import "~src/scss/styles";

.header {
  display: flex;
  align-items: center;

  background: $blue-bg;

  width: 100%;
  height: 140px;

  &__logo {
    margin-left: 80px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #fff;
    margin-left: 34px;
  }

  &__circle {
    position: absolute;
    top: 0;
    right: 0;
  }
}

// Mobile //

@media (max-width: 1000px) {
  .header {
    height: 50px;

    &__logo {
      display: none;
    }

    &__title {
      font-size: 16px;
    }

    &__circle {
      display: none;
    }
  }
}
