@import "~src/scss/styles";

.comunicacao {
  margin-top: -40px;

  margin-bottom: 100px;

  &__image {
    display: flex;
    flex-direction: column;

    &__text {
      display: flex;
      flex-direction: column;

      h5 {
        font-size: 18px;

        color: #000000;
      }

      span {
        font-weight: 300;
        font-size: 13px;
        letter-spacing: 0.3px;

        color: #84838a;
      }
    }

    &__input {
      display: flex;
      align-items: center;

      margin-top: 24px;

      mat-form-field {
        height: 58px;
      }

      max-height: 54px;

      input[type="file"] {
        display: none;
      }

      input[type="file"] + label {
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.3px;

        color: #ffffff;

        background-color: #ff7535;

        border: none;
        border-radius: 8px;

        padding: 13px 0;

        width: 100%;
        max-width: 219px;
        margin-left: 16px;
      }
    }
  }

  &__responsavel {
    h5 {
      font-weight: 600;
      font-size: 20px;

      letter-spacing: 0.4px;

      color: #000000;
    }

    &__inputs {
      margin-top: 24px;
    }

    &:last-child {
      margin-top: 48px;
      padding-top: 48px;

      border-top: 1px solid #e6e6e6;
    }
  }

  &__midias {
    h5 {
      font-weight: 600;
      font-size: 20px;

      letter-spacing: 0.4px;

      color: #000000;
    }

    &__inputs {
      margin-top: 24px;
    }

    &:last-child {
      margin-top: 48px;
      padding-top: 48px;

      border-top: 1px solid #e6e6e6;
    }
  }
}

@media (max-width: 1000px) {
  .comunicacao {
    margin-top: -40px;

    &__image {
      &__text {
        h5 {
          font-size: 16px;
        }

        span {
          font-size: 11px;
        }
      }

      &__input {
        flex-direction: column;

        margin-bottom: 50px;

        mat-form-field {
          margin: 0;
        }

        input[type="file"] + label {
          font-size: 14px;
          margin-left: 0;
        }
      }
    }

    &__responsavel {
      h5 {
        font-size: 16px;
      }
    }

    &__midias {
      h5 {
        font-size: 16px;
      }
    }
  }
}
