<form [formGroup]="form" class="comunicacao">
  <ng-container formGroupName="comunicacao">
    <div class="comunicacao__image" *ngIf="!sessionService.isCuratorRef()">
      <div class="comunicacao__image__text">
        <h5>Selecione abaixo a imagem do logotipo da sua organização:</h5>
        <span
          >Formatos suportados: .jpg, .jpeg, .png. Tamanho máximo do arquivo: 20
          MB.
        </span>
      </div>

      <div class="comunicacao__image__input">
        <mat-form-field appearance="outline" class="mw-323">
          <mat-label>{{ fileName || "Nenhum arquivo selecionado" }}</mat-label>
          <input
            matInput
            readonly
            [readonly]="
              sessionService.isCuratorRef() &&
              authService.getUserRole() !== userRoles.Adm
            "
          />
        </mat-form-field>

        <input type="file" id="file" (change)="onFileChange($event?.target)" />
        <label for="file">
          <mat-icon aria-hidden="false" aria-label="upload"
            >file_upload</mat-icon
          >
          Procurar
        </label>
      </div>
    </div>

    <div class="input-section col" style="margin-top: 32px">
      <label class="textarea-label mw-679" for="release"
        >Apresente um breve release da sua organização, sendo importante
        descrever seu ramo de atividade e ações sociais já desenvolvidas:
      </label>

      <mat-form-field
        appearance="outline"
        class="mw-548"
        style="margin-top: 16px"
      >
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="10"
          cdkAutosizeMaxRows="5"
          id="release"
          formControlName="breveRelease"
          [readonly]="
            sessionService.isCuratorRef() &&
            authService.getUserRole() !== userRoles.Adm
          "
        ></textarea>
      </mat-form-field>
    </div>

    <div class="input-section col" style="margin-top: 32px">
      <label class="textarea-label mw-679" for="razao"
        >Detalhe abaixo a razão de ser da organização:
      </label>

      <mat-form-field
        appearance="outline"
        class="mw-548"
        style="margin-top: 16px"
      >
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="10"
          cdkAutosizeMaxRows="5"
          id="razao"
          formControlName="razaoDeSerDaOrganizacao"
          [readonly]="
            sessionService.isCuratorRef() &&
            authService.getUserRole() !== userRoles.Adm
          "
        ></textarea>
      </mat-form-field>
    </div>

    <div class="input-section col" style="margin-top: 32px">
      <label class="textarea-label mw-679" for="proposta"
        >Descreva abaixo a proposta da organização:
      </label>

      <mat-form-field
        appearance="outline"
        class="mw-548"
        style="margin-top: 16px"
      >
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="10"
          cdkAutosizeMaxRows="5"
          id="proposta"
          formControlName="propostaOrganizacao"
          [readonly]="
            sessionService.isCuratorRef() &&
            authService.getUserRole() !== userRoles.Adm
          "
        ></textarea>
      </mat-form-field>
    </div>

    <div class="input-section col" style="margin-top: 32px">
      <label class="textarea-label mw-679" for="principios"
        >Liste os princípios que guiam a organização:
      </label>

      <mat-form-field
        appearance="outline"
        class="mw-548"
        style="margin-top: 16px"
      >
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="10"
          cdkAutosizeMaxRows="5"
          id="principios"
          formControlName="principiosOrganizacao"
          [readonly]="
            sessionService.isCuratorRef() &&
            authService.getUserRole() !== userRoles.Adm
          "
        ></textarea>
      </mat-form-field>
    </div>

    <div class="comunicacao__responsavel">
      <h5>Responsável pela Assessoria de Imprensa</h5>

      <ng-container formGroupName="assessoria">
        <div class="comunicacao__responsavel__inputs">
          <div class="input-section">
            <mat-form-field appearance="outline" class="mw-670">
              <mat-label>Nome completo</mat-label>
              <input
                matInput
                formControlName="nomeCompleto"
                [readonly]="
                  sessionService.isCuratorRef() &&
                  authService.getUserRole() !== userRoles.Adm
                "
              />
            </mat-form-field>
          </div>

          <div class="input-section">
            <mat-form-field appearance="outline" class="mw-327">
              <mat-label>CPF</mat-label>
              <input
                matInput
                formControlName="cpf"
                mask="000.000.000-00"
                [readonly]="
                  sessionService.isCuratorRef() &&
                  authService.getUserRole() !== userRoles.Adm
                "
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="mw-327">
              <mat-label>Ocupação na Instituição</mat-label>
              <input
                matInput
                formControlName="ocupacao"
                [readonly]="
                  sessionService.isCuratorRef() &&
                  authService.getUserRole() !== userRoles.Adm
                "
              />
            </mat-form-field>
          </div>

          <div class="input-section">
            <mat-form-field appearance="outline" class="mw-327">
              <mat-label>DDD + Telefone para contato</mat-label>
              <input
                matInput
                formControlName="telefone"
                mask="(00) 0000-0000"
                [readonly]="
                  sessionService.isCuratorRef() &&
                  authService.getUserRole() !== userRoles.Adm
                "
              />
              <span class="floating-label">Coloque o ramal, se houver</span>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mw-327">
              <mat-label>Whatsapp</mat-label>
              <input
                matInput
                formControlName="whatsapp"
                mask="(00) 0 0000-0000"
                prefix="+55 "
                [readonly]="
                  sessionService.isCuratorRef() &&
                  authService.getUserRole() !== userRoles.Adm
                "
              />
              <span class="floating-label">País + DDD + Telefone</span>
            </mat-form-field>
          </div>

          <div class="input-section">
            <mat-form-field appearance="outline" class="mw-327">
              <mat-label>E-mail 1</mat-label>
              <input
                matInput
                formControlName="emailContato"
                [readonly]="
                  sessionService.isCuratorRef() &&
                  authService.getUserRole() !== userRoles.Adm
                "
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="mw-327">
              <mat-label>E-mail 2 (Opcional)</mat-label>
              <input
                matInput
                formControlName="emailOpcional"
                [readonly]="
                  sessionService.isCuratorRef() &&
                  authService.getUserRole() !== userRoles.Adm
                "
              />
            </mat-form-field>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="comunicacao__midias">
      <h5>Mídias sociais</h5>
      <ng-container formGroupName="midiasSociais">
        <div class="comunicacao__midias__inputs">
          <div class="input-section">
            <mat-form-field appearance="outline" class="mw-270">
              <mat-label>Site</mat-label>
              <input
                matInput
                formControlName="site"
                [readonly]="
                  sessionService.isCuratorRef() &&
                  authService.getUserRole() !== userRoles.Adm
                "
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="mw-270">
              <mat-label>Facebook</mat-label>
              <input
                matInput
                formControlName="facebook"
                [readonly]="
                  sessionService.isCuratorRef() &&
                  authService.getUserRole() !== userRoles.Adm
                "
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="mw-270">
              <mat-label>Twitter</mat-label>
              <input
                matInput
                formControlName="twitter"
                [readonly]="
                  sessionService.isCuratorRef() &&
                  authService.getUserRole() !== userRoles.Adm
                "
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="mw-270">
              <mat-label>Instagram</mat-label>
              <input
                matInput
                formControlName="instagram"
                [readonly]="
                  sessionService.isCuratorRef() &&
                  authService.getUserRole() !== userRoles.Adm
                "
              />
            </mat-form-field>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</form>
