<div class="listagem-projetos">
  <div class="listagem-projetos__filtro">
    <form [formGroup]="filtroProjetos">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" placeholder="Nome" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Em Avaliação</mat-label>
        <mat-select formControlName="avaliacao">
          <mat-option *ngFor="let avaliacao of avaliacoes" [value]="avaliacao.value">
            {{ avaliacao.desc }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="c-button c-button__outline" (click)="resetFilter()">Limpar</button>
      <button class="c-button c-button__primary" (click)="filtrar()">Filtrar</button>
    </form>
  </div>
  <div class="listagem-projetos__listagem">
    <div class="listagem-projetos__header">
      <div class="listagem-projetos__titulo">Listagem de projetos</div>
      <!-- <div class="listagem-projetos__novo">
        <a
          (click)="projectService.createProject()"
          class="c-button c-button__danger"
        >
          <mat-icon>add_circle_outline</mat-icon>
          Novo projeto
        </a>
      </div> -->
    </div>
    <div class="listagem-projetos__tabela">
      <table>
        <h3
          *ngIf="projetos.length === 0"
          style="
            font-family: Raleway;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: 0.4px;
            color: #333333;
            margin-top: 20px;
          "
        >
          Nenhum resultado encontrado.
        </h3>
        <thead>
          <tr>
            <!-- <th>Número</th> -->
            <th>Nome</th>
            <th>Tipo</th>
            <th>Participante</th>
            <th class="wp-110" style="text-align: center">Status cadastro</th>
            <th class="wp-225" style="text-align: center">Status projeto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let projeto of projetos">
            <!-- <td>{{ projeto?.numero || 'Indefinido' }}</td> -->
            <td [routerLink]="['/curadoria-projetos', projeto?.id]" style="cursor: pointer">
              {{ projeto?.geral?.nome || "Indefinido" }}
            </td>
            <td>{{ projeto?.geral?.tipoProjeto || "Indefinido" }}</td>
            <td>{{ projeto?.ownerOrganizationName || "Indefinido" }}</td>
            <td class="img">
              <img
                *ngIf="
                  (projeto?.status || 0) === ProjectStatusEnum['Em curadoria'] ||
                  (projeto?.status || 0) === ProjectStatusEnum['Protocolo gerado']
                "
                src="/assets/icons/done-cricle.svg"
                alt="done"
              />
              <img
                *ngIf="(projeto?.status || 0) === ProjectStatusEnum['Em edição']"
                src="/assets/icons/undone_circle.svg"
                alt="undone"
              />
            </td>
            <td
              class="status"
              [ngClass]="(projeto?.status || 0) === ProjectStatusEnum['Em edição'] ? 'undone' : 'done'"
            >
              {{ ProjectStatusEnum[projeto?.status || 0] }}
            </td>
            <!-- <td>
              <img
                *ngIf="
                  projeto?.curador1?.statusCuradoria ===
                  CuradorStatusEnum.Confirmado
                "
                src="/assets/icons/done-cricle.svg"
                alt="done"
              />
              <img
                *ngIf="
                  projeto?.curador1?.statusCuradoria ===
                  CuradorStatusEnum['Em avaliação']
                "
                src="/assets/icons/undone_circle.svg"
                alt="undone"
              />
            </td>
            <td>
              <img
                *ngIf="
                  projeto?.curador2?.statusCuradoria ===
                  CuradorStatusEnum.Confirmado
                "
                src="/assets/icons/done-cricle.svg"
                alt="done"
              />
              <img
                *ngIf="
                  projeto?.curador2?.statusCuradoria ===
                  CuradorStatusEnum['Em avaliação']
                "
                src="/assets/icons/undone_circle.svg"
                alt="undone"
              />
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
