@import "~src/scss/styles";

.register {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 65px 0;

  width: 100%;

  background-color: #fff;

  &__inputs {
    width: 100%;
    max-width: 1020px;

    &__input-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      width: 100%;

      mat-form-field {
        width: 100%;
        margin-right: 16px;
      }
    }

    &__checkbox {
      margin-top: 36px;

      section {
        mat-checkbox {
          font-size: 18px;

          letter-spacing: 0.4px;
          color: #333333;
        }
      }
    }

    &__button {
      margin-top: 100px;

      display: flex;

      justify-content: center;

      button {
        border: none;
        background-color: #dd1367;
        cursor: pointer;

        color: #fff;
        font-weight: bold;
        font-size: 16px;

        padding: 12px 0;

        width: 100%;
        max-width: 256px;

        border-radius: 8px;
      }
    }
  }
}

// Mobile //
@media (max-width: 1000px) {
  .register {
    padding: 15px 0;

    &__inputs {
      width: 90%;

      &__checkbox {
        max-width: 300px;

        section {
          mat-checkbox {
            font-size: 16px;
          }
        }
      }
    }
  }
}
