<div class="register">
  <form class="register__inputs" [formGroup]="form" (ngSubmit)="submit()">
    <div class="input-section">
      <mat-form-field appearance="outline" class="mw-323">
        <mat-label>Nome completo</mat-label>
        <input matInput formControlName="nome" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="mw-323">
        <mat-label>Cargo na Instituição</mat-label>
        <input matInput formControlName="cargo" />
      </mat-form-field>
    </div>

    <div class="input-section">
      <mat-form-field appearance="outline" class="mw-323">
        <mat-label>E-mail institucional</mat-label>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="mw-323">
        <mat-label>Telefone (DDD + Número)</mat-label>
        <input matInput mask="(00) 0000-0000" formControlName="telefone" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="mw-323">
        <mat-label>Whatsapp (País + DDD + Número)</mat-label>
        <input
          matInput
          mask="(00) 0 0000-0000"
          prefix="+55 "
          formControlName="whatsapp"
        />
      </mat-form-field>
    </div>

    <div class="input-section">
      <mat-form-field appearance="outline">
        <mat-label>Endereço completo</mat-label>
        <input matInput formControlName="endereco" />
      </mat-form-field>
    </div>

    <div class="input-section" style="margin-top: 20px">
      <div class="input-section__radio">
        <label id="example-radio-group-label"
          >Como ficou sabendo do programa?</label
        >
        <mat-radio-group
          aria-labelledby="como-ficou-sabendo-do-programa"
          formControlName="comoFicouSabendoDoPrograma"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let option of options"
            [value]="option"
          >
            {{ option }}
          </mat-radio-button>

          <div class="outros">
            <mat-radio-button class="example-radio-button" value="outros">
              Outros:
            </mat-radio-button>
            <input
              class="custom-text-input"
              type="text"
              formControlName="comoFicouSabendoDoProgramaOutros"
            />
          </div>
        </mat-radio-group>
      </div>
    </div>

    <div class="register__inputs__checkbox">
      <section>
        <mat-checkbox
          class="example-margin"
          formControlName="regulamentoAceito"
          color="primary"
        >
          Ao assinalar esta opção declaro concordar com o
          <a [href]="regulamentoLink" target="_blank">Regulamento do Selo ODS.</a>
        </mat-checkbox>
      </section>
    </div>

    <div class="register__inputs__button">
      <button type="submit">Enviar</button>
    </div>
  </form>
</div>
