button {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 200px;

  mat-icon {
    width: 10px;
  }
}

.evidencias {
  &__item {
    padding-bottom: 30px;
    border-bottom: 1px solid #e6e6e6;

    &:not(:first-of-type) {
      margin-top: 30px;
    }

    &:last-of-type {
      margin-bottom: 30px;
    }

    .albuns {
      display: flex;
      flex-direction: column;

      margin-top: 20px;
      padding-left: 20px;

      &--title {
        color: #828282;

        font-size: 16px;
        font-weight: bold;

        padding-bottom: 20px;
        border-bottom: 1px solid #d6d6d6;
      }

      &__album {
        display: flex;
        flex-direction: column;

        padding-left: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #d6d6d6;

        &--title {
          color: #828282;
          font-weight: bold;
          margin-top: 20px;

          font-size: 16px;
        }

        &--images {
          display: flex;

          margin-top: 20px;

          img {
            width: 100%;
            height: 100%;

            max-width: 79px;
            max-height: 79px;

            &:not(:first-child) {
              margin: 10px;
            }
          }
        }

        &--description {
          color: #828282;
          font-weight: bold;
          margin-top: 20px;

          font-size: 12px;
        }
      }
    }

    .videos {
      margin-top: 20px;

      iframe {
        border: none;

        &:not(:first-child) {
          margin: 0 10px;
        }
      }
    }

    .artigos {
      .home__steps {
        display: flex;
        flex-direction: column;

        margin-top: 32px;

        &--title {
          font-weight: 600;
          font-size: 18px;
          color: #333333;

          .counter {
            font-weight: normal;
            font-size: 13px;
          }
        }

        &__list {
          display: flex;
          flex-direction: column;

          margin-top: 20px;

          &__item {
            display: flex;
            justify-content: space-between;

            background: #f9f9f9;
            padding: 10px;

            &__status {
              display: flex;
              align-items: center;

              &--title {
                margin-left: 10px;
                font-size: 18px;
                color: #333333;
              }
            }

            &--action {
              background: none;
              outline: none;
              border: none;
              cursor: pointer;
              transition: 0.2s ease;

              justify-self: flex-end;

              color: #ff7535;
              font-weight: 600;
              font-size: 16px;

              text-decoration: underline;

              &:hover {
                color: darken($color: #ff7535, $amount: 8);
              }
            }
          }

          &__item:nth-child(2n) {
            background: #fff;
          }
        }
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      background-color: #ff7535;
      border-radius: 8px;

      color: #fff;

      width: 100%;
      max-width: 281px;

      margin-top: 20px;

      padding: 11px 0;
      outline: none;
      border: none;

      mat-icon {
        width: auto;
        margin-right: 10px;
      }
    }
  }
}
