<form [formGroup]="form" class="evidencias">

  <div class="evidencias__item" *ngFor="let evidencia of evidencias; let i = index">
    <ng-container [formGroupName]="evidencia?.formGroup || null">
      <ng-container>
        <div class="primary-title">
          {{ evidencia.titulo }}
        </div>

        <ng-container *ngIf="evidencia?.formGroup === 'albuns'">
          <div class="albuns">
            <!-- <span class="albuns--title">Álbuns de Fotos do Projeto</span> -->
            <ng-container *ngFor="let album of getAlbuns(); let a = index;" [formArrayName]="a">
              <div class="albuns__album">
                <span class="albuns__album--title">{{ album?.value.nomeAlbum }}</span>

                <div class="albuns__album--images">
                  <ng-container *ngFor="let image of album?.value?.imagesUrl">
                    <img [src]="image" alt="url">
                  </ng-container>
                </div>

                <span class="albuns__album--description">{{ album?.value.legenda }}</span>
              </div>
            </ng-container>
          </div>
        </ng-container>

        <ng-container *ngIf="evidencia?.formGroup === 'videos'">
          <div class="videos">
            <ng-container *ngFor="let video of getVideos(); let a = index;" [formArrayName]="a">
              <iframe *ngIf="video && video?.value?.linkVideo" width="286" height="168"
                [src]="sanitizeUrl(video?.value?.linkVideo)" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
                <!-- [src]="sanitizer.bypassSecurityTrustUrl(video?.value?.linkVideo)"> -->
              </iframe>

            </ng-container>
          </div>
        </ng-container>

        <ng-container *ngIf="evidencia?.formGroup === 'artigos'">
          <div class="artigos">
            <ng-container *ngFor="let artigo of getArtigos(); let a = index;" [formArrayName]="a">
              <div class="home__steps">
                <div class="home__steps__list">
                  <div class="home__steps__list__item">
                    <div class="home__steps__list__item__status">
                      <span class="home__steps__list__item__status--title">{{ artigo?.value?.titulo }}</span>
                    </div>
                    <a [href]="artigo?.value?.linkAcesso" target="_blank"
                      class="home__steps__list__item--action">Visualizar</a>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>

        <button (click)="newFeature(evidencia.component)">
          <mat-icon>add_circle_outline</mat-icon>
          Adicionar {{ evidencia.botao }}
        </button>
      </ng-container>
    </ng-container>
  </div>

</form>
