@import "~src/scss/styles";

.confirmation {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 60px 40px;

  h5 {
    font-weight: 600;
    font-size: 20px;

    color: #000000;
  }

  span {
    font-size: 18px;

    margin-top: 10px;

    color: #000000;
  }

  &__actions {
    display: flex;

    margin-top: 50px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 8px;
      padding: 10px 0;
      font-size: 14px;
      width: 160px;

      font-weight: 700;

      cursor: pointer;
    }

    .cancel {
      color: #dd1367;
      background-color: #fff;
      border: 1px solid #dd1367;
    }

    .confirm {
      margin-left: 16px;
      background-color: #dd1367;
      color: #fff;
      border: 1px solid #dd1367;
    }
  }
}
