<div class="confirmation">
  <h5>Verifique todas as informações do cadastro.</h5>
  <span>Tem certeza que deseja submeter?</span>

  <div class="confirmation__actions">
    <button type="button" class="cancel">
      Cancelar
    </button>

    <button type="button" class="confirm" (click)="confirm()">
      Confirmar
    </button>
  </div>
</div>
