@import "~src/scss/styles";

.dialog {
  width: 100vw;
  max-width: 538px;

  max-height: 600px;

  padding: 40px 28px;

  &--title {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.4px;

    color: #000000;
  }

  &__actions {
    display: flex;
    justify-content: center;

    margin-top: 62px;
    padding-bottom: 40px;

    &--btn {
      width: 100%;
      max-width: 180px;
      height: 45px;

      border-radius: 8px;

      cursor: pointer;
    }

    .back {
      border: none;

      background: none;
      color: #84838A;
    }

    .next {
      margin-left: 16px;

      border: none;

      background-color: #CF0505;
      border: 1px solid #CF0505;

      color: #fff;
    }
  }
}
