<form class="dialog" [formGroup]="form" *ngIf="form">
  <div class="dialog--title">Detalhes da organização</div>

  <mat-form-field appearance="outline" style="margin-top: 58px">
    <mat-label>CNPJ</mat-label>
    <input matInput formControlName="cnpj" readonly />
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin-top: 25px">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="nome" readonly />
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin-top: 25px">
    <mat-label>Responsável</mat-label>
    <input matInput formControlName="responsavel" readonly />
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin-top: 25px">
    <mat-label>Celular do responsável</mat-label>
    <input matInput formControlName="celular" readonly />
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin-top: 25px">
    <mat-label>Membro desde</mat-label>
    <input matInput formControlName="registro" readonly />
  </mat-form-field>

  <div class="dialog__actions">
    <button type="button" class="dialog__actions--btn back" (click)="close()">
      Voltar
    </button>
    <button
      type="button"
      class="dialog__actions--btn next"
      (click)="deleteOrganization()"
    >
      Excluir organização
    </button>
  </div>
</form>
