<form class="dialog" [formGroup]="form" *ngIf="form">
  <div class="dialog--title">Detalhes do projeto</div>

  <mat-form-field appearance="outline" style="margin-top: 58px">
    <mat-label>Nome do projeto</mat-label>
    <input matInput formControlName="nomeProjeto" readonly />
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin-top: 25px">
    <mat-label>Instituição</mat-label>
    <input matInput formControlName="instituicao" readonly />
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin-top: 25px">
    <mat-label>Responsável</mat-label>
    <input matInput formControlName="responsavel" readonly />
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin-top: 25px">
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="email" readonly />
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin-top: 95px">
    <mat-label>Membro desde</mat-label>
    <input matInput formControlName="membroDesde" readonly />
  </mat-form-field>

  <div class="dialog__delete">
    <button type="button" class="dialog__delete--btn" (click)="deleteProject()">
      Excluir projeto
    </button>
  </div>

  <div class="dialog__actions">
    <button type="button" class="dialog__actions--btn back" (click)="close()">
      Voltar
    </button>
    <button
      type="button"
      class="dialog__actions--btn next"
      (click)="close()"
      [routerLink]="['/meus-projetos', data?.id]"
    >
      Ver tudo
    </button>
  </div>
</form>
