.substepper {
  display: flex;
  justify-content: space-between;

  background-color: #fff;

  width: 100%;
  height: 65px;
  box-shadow: 90px -14px 20px rgba(0, 0, 0, 0.07);

  &__tab {
    flex: 1;

    background: none;

    max-width: 32%;

    transition: 0.1s ease;

    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.3px;

    color: #84838a;
    border: none;
    border-bottom: 1px solid #84838a;

    padding: 21px 0;

    &:hover {
      cursor: pointer;
    }
  }
}

.active-step {
  border-bottom: 3px solid #333;
  font-weight: bold;
  color: #333;
}

// Mobile //

@media (max-width: 1000px) {
  .substepper {
    // display: flex;
    // justify-content: space-between;

    // background-color: #fff;

    // width: 100%;
    // height: 65px;
    // box-shadow: 90px -14px 20px rgba(0, 0, 0, 0.07);

    &__tab {
      // flex: 1;

      // background: none;

      max-width: 100%;

      // transition: 0.1s ease;

      // font-weight: normal;
      font-size: 12px;
      // letter-spacing: 0.3px;

      // color: #84838a;
      // border: none;
      // border-bottom: 1px solid #84838a;

      // padding: 21px 0;

      &:hover {
        // cursor: pointer;
      }
    }
  }

  .active-step {
    // border-bottom: 3px solid #333;
    // font-weight: bold;
    // color: #333;
  }
}
