<div class="substepper">
  <ng-container *ngFor="let substep of substeps; let i = index">
    <button class="substepper__tab" [ngClass]="{'active-step': currentSubStep === i}"
      (click)="changeSubStep(i)">{{substep.title}}</button>
  </ng-container>

</div>
