<form [formGroup]="form" class="evento">
  <!-- <ng-container formGroupName="albuns"> -->
  <h5 class="evento__title">Adicionar evento</h5>

  <mat-form-field appearance="outline">
    <mat-label>Nome do evento</mat-label>
    <input matInput formControlName="nomeEvento" />
  </mat-form-field>

  <div class="input-section">
    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <textarea matInput rows="10" formControlName="descricao"></textarea>
    </mat-form-field>
  </div>

  <div class="input-section__radio row">
    <label id="example-radio-group-label">Formato</label>
    <mat-radio-group formControlName="formato">
      <div class="">
        <mat-radio-button value="online" style="margin-right: 26px;">Online</mat-radio-button>
        <mat-radio-button value="presencial">Presencial</mat-radio-button>
      </div>
    </mat-radio-group>
  </div>

  <!-- <h5>Adicione imagens:</h5>
  <div class="evento__input-file">
    <mat-label>Adicione imagens:</mat-label>
    <mat-form-field appearance="outline" class="mw-323">
      <mat-label>{{ 'fileName' || 'Nenhum arquivo selecionado' }}</mat-label>
      <input matInput readonly>
    </mat-form-field>

    <input type="file" id="file" (change)="onFileChange($event?.target)">
    <label for="file">
      <mat-icon aria-hidden="false" aria-label="upload">file_upload</mat-icon>
      Procurar
    </label>
  </div> -->

  <!-- <span class="file-options">Tamanho máximo por foto: 10 MB. Arquivos válidos: .gif, .png, .jpg e .jpeg.</span> -->

  <mat-label class="link-title">Adicione um link para cobertura ou transmissão (Se houver)</mat-label>
  <mat-form-field appearance="outline">
    <input matInput placeholder="Digitar link (Youtube/Vimeo)" formControlName="linkCobertura" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Número total de participantes (apenas numerais)</mat-label>
    <input matInput formControlName="numeroParticipantes" type="number" />
  </mat-form-field>


  <div class="acoes-modal">
    <button class="cancel" type="button" (click)="cancel()">Cancelar</button>
    <button class="save" type="button" (click)="save()">Confirmar</button>
  </div>
  <!-- </ng-container> -->
</form>
