<div class="container">
  <form class="user" [formGroup]="form">
    <div class="col">
      <div class="row">
        <div class="back-link">
          <a [routerLink]="['/usuarios/listagem']">
            <img src="/assets/icons/link_back.svg" alt="back" />
            <span>Voltar para lista</span>
          </a>
        </div>
      </div>

      <div class="row">
        <h3 class="name">{{ form?.get("nome")?.value }}</h3>
      </div>

      <div class="row">
        <h3 class="role">{{ IUserRole[form?.get("role")?.value] }}</h3>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="input">
          <mat-label>Nome do usuário</mat-label>
          <input matInput formControlName="nome" readonly />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="input">
          <mat-label>Instituição</mat-label>
          <input matInput formControlName="organizationName" readonly />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="input">
          <mat-label>Telefone</mat-label>
          <input
            matInput
            type="tel"
            mask="+00 (00) 0000-0000"
            formControlName="telefone"
            readonly
          />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="input">
          <mat-label>E-mail</mat-label>
          <input type="email" matInput formControlName="email" readonly />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="input">
          <mat-label>Whatsapp</mat-label>
          <input
            matInput
            type="tel"
            mask="+00 (00) 0 0000-0000"
            formControlName="whatsapp"
            readonly
          />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="input">
          <mat-label>Membro desde</mat-label>
          <input matInput formControlName="registro" readonly />
        </mat-form-field>
      </div>

      <div class="row">
        <div class="status-item">
          <h5 class="status-item--title">Status</h5>

          <div class="status-item__item">
            <span
              class="status-item__item--name"
              [ngClass]="{ done: preCadastroValid }"
              >Pré-cadastro</span
            >
            <img
              src="/assets/icons/done-cricle.svg"
              alt="done"
              class="status-item__item--check"
              *ngIf="preCadastroValid"
            />

            <img
              src="/assets/icons/undone_circle.svg"
              alt="done"
              class="status-item__item--check"
              *ngIf="!preCadastroValid"
            />
          </div>

          <div class="status-item__item">
            <span
              class="status-item__item--name"
              [ngClass]="{ done: cadastroOrganizationValid }"
              >Cadastro da organização</span
            >
            <img
              src="/assets/icons/done-cricle.svg"
              alt="done"
              class="status-item__item--check"
              *ngIf="cadastroOrganizationValid"
            />

            <img
              src="/assets/icons/undone_circle.svg"
              alt="done"
              class="status-item__item--check"
              *ngIf="!cadastroOrganizationValid"
            />
          </div>

          <div class="status-item__item">
            <span
              class="status-item__item--name"
              [ngClass]="{ done: cadastroProjetoValid }"
              >Cadastro do projeto</span
            >
            <img
              src="/assets/icons/done-cricle.svg"
              alt="done"
              class="status-item__item--check"
              *ngIf="cadastroProjetoValid"
            />

            <img
              src="/assets/icons/undone_circle.svg"
              alt="done"
              class="status-item__item--check"
              *ngIf="!cadastroProjetoValid"
            />
          </div>

          <div class="status-item__item">
            <span class="status-item__item--name">Curadoria</span>
            <img
              src="/assets/icons/undone_circle.svg"
              alt="done"
              class="status-item__item--check"
            />
          </div>
        </div>
      </div>

      <div
        class="row"
        *ngIf="
          user && user.parceiros && user.parceiros.parceirosList.length > 0
        "
      >
        <div class="status-item">
          <h5 class="status-item--title">Parceiros registrados</h5>

          <ng-container
            *ngFor="
              let partner of user?.parceiros?.parceirosList;
              let i = index
            "
          >
            <div class="status-item__item">
              <span
                class="status-item__item--name undone"
                style="color: #333333"
              >
                {{ partner?.nome }}
              </span>
              <img
                src="/assets/icons/trashcan.svg"
                alt="done"
                class="status-item__item--trash"
                (click)="deletePartner(i)"
              />
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row hidden">
        <div class="back-link">
          <a [routerLink]="['/usuarios/listagem']">
            <img src="/assets/icons/link_back.svg" alt="back" />
            <span>Voltar para lista</span>
          </a>
        </div>
      </div>

      <div class="row hidden">
        <h3 class="name">{{ form?.get("nome")?.value }}</h3>
      </div>

      <div class="row hidden">
        <h3 class="role">{{ IUserRole[form?.get("role")?.value] }}</h3>
      </div>

      <div class="row">
        <div class="actions">
          <button type="button" class="edit" (click)="editPermissions()">
            Editar permissões
          </button>
          <button type="button" class="projects">Ver projetos</button>
        </div>
      </div>
    </div>
  </form>

  <div class="delete" (click)="deleteUser()">
    <button type="button">Excluir usuário</button>
  </div>
</div>
