@import "~src/scss/styles";

.container {
  background-color: #fff;

  padding: 24px 40px;

  .user {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 0 auto;

    width: 100%;
    max-width: 1030px;
    .col {
      max-width: 437px;
      .row {
        .back-link {
          a {
            text-decoration: none;

            img {
              width: 7.4px;
              height: 13.5px;
            }

            span {
              font-family: Open Sans;
              font-weight: bold;
              font-size: 14px;
              letter-spacing: 0.3px;
              margin-left: 19px;

              color: #dd1367;
            }
          }
        }

        .name {
          font-family: Raleway;
          font-weight: 600;
          font-size: 32px;
          letter-spacing: 0.4px;

          color: #333333;

          margin-top: 32px;
        }

        .role {
          font-family: Raleway;
          font-weight: normal;
          font-size: 18px;
          letter-spacing: 0.4px;

          color: #000000;

          margin-top: 4px;
        }

        .status-item {
          margin-top: 40px;

          &--title {
            font-family: Open Sans;
            font-weight: normal;
            font-size: 16px;
            letter-spacing: 0.4px;

            color: #84838a;

            margin-bottom: -10px;
          }

          &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-top: 16px;

            &--name {
              font-family: Open Sans;
              font-weight: 600;
              font-size: 18px;
              letter-spacing: 0.3px;
              color: #19486a;
            }

            &--check {
              width: 20px;
              height: 20px;
            }

            &--trash {
              background-color: #cf0505;

              border-radius: 6px;

              width: 16px;
              height: 18px;

              padding: 8px;

              cursor: pointer;
            }

            .done {
              color: #609e27;
            }
          }
        }

        .actions {
          display: flex;
          flex-direction: column;

          margin-top: 20px;

          button {
            border-radius: 8px;

            height: 54px;
            cursor: pointer;

            width: 100%;
            max-width: 394px;
          }

          .edit {
            background: #ff7535;

            border: 1px solid #ff7535;

            color: #fff;
          }

          .projects {
            background: #fff;

            border: 1px solid #dddddd;
            color: #dd1367;

            margin-top: 22px;

            font-weight: bold;
          }
        }
      }
    }
  }

  .delete {
    display: flex;
    justify-content: center;

    border-top: 1px solid #e6e6e6;

    margin-top: 74px;

    padding: 51px 0 93px 0;

    button {
      width: 100%;
      max-width: 218px;

      font-family: Open Sans !important;
      font-weight: bold;

      background: #cf0505;
      border: 1px solid #cf0505;
      border-radius: 8px;

      padding: 13px;

      color: #fff;

      cursor: pointer;
    }
  }
}

.hidden {
  visibility: hidden;
}
