// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

$colors: (
  "blue": #19486a,
  "dark-blue": #133752,
  "green": #609e27
) !default;

$theme-colors: (
  primary: map-get($colors, "blue"),
  secondary: map-get($colors, "yellow"),
  tertiary: map-get($colors, "orange"),
  success: map-get($colors, "green"),
  info: map-get($colors, "blue"),
  warning: map-get($colors, "orange"),
  danger: map-get($colors, "red")
) !default;

$blue-bg: map-get($colors, "blue");
$dark-blue-bg: map-get($colors, "dark-blue");
$success: map-get($colors, "green");

// .primary {
//   color: $blue-bg;
// }
