.flex {
  // display: flex;

  $justify-positions: (
    start: flex-start,
    end: flex-end,
    center: center,
    around: space-around,
    between: space-between,
    evenly: space-evenly
  );

  $align-positions: (
    start: flex-start,
    end: flex-end,
    center: center,
    stretch: stretch,
    baseline: baseline
  );

  @mixin just-align($name, $prop, $arr) {
    @each $mod, $dir in $arr {
      &-#{$name}-#{$mod} {
        display: flex;
        #{$prop}: #{$dir};
      }
    }
  }

  @include just-align("justify", "justify-content", $justify-positions);
  @include just-align("align", "align-items", $align-positions);
  // @include just-align("justify-self", "justify-self", $justify-positions);
  // @include just-align("align-self", "align-self", $align-positions);
}

$widths: 800;
$heights: 800;

@for $i from 0 through $widths {
  .w-#{$i} {
    width: #{$i * 1%};
  }

  .wp-#{$i} {
    width: #{$i}px;
  }

  .mw-#{$i} {
    max-width: #{$i}px !important;
  }
}

@for $i from 0 through $heights {
  .h-#{$i} {
    height: #{$i * 1%};
  }

  .mh-#{$i} {
    max-height: #{$i}px !important;
  }
}

.flex-col {
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
.btn-text {
  letter-spacing: 0.4px;
}

h3 {
  font-size: 36px;
}
