.input-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .textarea-label {
    font-size: 18px;

    letter-spacing: 0.4px;

    color: #333333;
  }

  mat-form-field {
    width: 100%;
    margin-right: 16px;

    position: relative;

    .floating-label {
      position: absolute;

      right: 0;
      bottom: -20px;

      font-weight: 300;
      font-size: 13px;
      letter-spacing: 0.3px;

      color: #84838a;
    }
  }

  &__radio {
    display: flex;
    flex-direction: column;

    label {
      font-size: 18px;
      letter-spacing: 0.4px;
      color: #333333;

      a {
        color: #333;
      }
    }

    mat-radio-group {
      margin-top: 10px;
    }
  }

  .row {
    mat-radio-group {
      margin-top: 10px;
      flex-direction: row;

      mat-radio-button {
        &:last-child {
          margin-left: 26px;
        }
      }
    }
  }

  &__checkbox {
    display: flex;
    flex-direction: column;

    width: 100%;

    mat-checkbox {
      margin: 5px 0;
    }

    label {
      font-size: 18px;
      letter-spacing: 0.4px;
      color: #333333;
      margin-bottom: 10px;
    }

    &__row {
      display: flex;
      flex-wrap: wrap;

      justify-content: flex-start;

      &:after {
        content: "";
        flex: auto;
      }

      mat-checkbox {
        width: 100%;
        max-width: 190px;

        // }
      }
    }
  }

  .textarea-label {
    font-size: 18px;

    color: #333333;
  }
}

.col {
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin-right: 16px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}

mat-radio-button {
  margin: 10px 0;
}

.custom-text-input {
  margin-left: 13px;

  border: none;
  border-bottom: 1px solid #333333;
  background: none;

  outline: none;
}

@media (max-width: 1000px) {
  .input-section {
    mat-form-field {
      font-size: 12px;

      .floating-label {
        bottom: -13px;

        font-size: 10px;
      }
    }

    &__radio {
      label {
        font-size: 16px;
      }

      mat-radio-group {
        font-size: 12px;
      }

      &__checkbox {
        label {
          font-size: 16px;
        }

        &__row {
          mat-checkbox {
            max-width: 90px !important;
          }
        }
      }
    }
  }

  mat-checkbox {
    font-size: 12px;
  }

  .textarea-label {
    font-size: 14px;

    color: #333333;
  }
}
