<form [formGroup]="form">
  <ng-container formGroupName="publico">
    <table>
      <tbody>
        <tr *ngFor="let publico of publicos">
          <td class="primary-text">{{ publico.descricao }}:</td>
          <td>
            <button (click)="decrement(publico.formControl)">-</button>
            <input type="number" [formControlName]="publico.formControl" style="text-align: center" />
            <button (click)="increment(publico.formControl)">+</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="cadastro-projeto-publico__especificos">
      <p class="primary-title">Públicos adicionados:</p>
      <div class="cadastro-projeto-publico__especificos-itens" formGroupName="publicosAdicionados">
        <div
          class="cadastro-projeto-publico__especificos-item"
          *ngFor="let publicoAdicionado of getPublicos(); let i = index"
          [formArrayName]="i"
        >
          <div class="cadastro-projeto-publico__especificos-card">
            <p class="primary-title">
              {{ publicoAdicionado.value.nomePublico }}
            </p>
            <!-- <div class="cadastro-projeto-publico__especificos-planos" *ngFor="let plano of objetivo.planosDeAcao">
              <p class="primary-text">
                {{ plano }}
              </p>
            </div> -->
            <button
              class="c-button c-button__outline"
              style="justify-content: center; width: 100%"
              (click)="updatePublico(i)"
            >
              Editar público
            </button>
          </div>
        </div>
        <button class="c-button c-button__danger mw-281" style="padding: 10px; height: 50px" (click)="addPublico()">
          <mat-icon>add_circle_outline</mat-icon>
          Adicionar público
        </button>
      </div>
    </div>
  </ng-container>
</form>
