form {
  margin-bottom: 50px;

  table {
    width: 100%;

    tbody tr:nth-child(odd) {
      background-color: #f9f9f9;
    }

    tbody tr:nth-child(even) {
      background-color: white;
    }

    td {
      padding: 20px 10px;
    }

    button {
      background-color: #ff7535;
      color: white;
      width: 35px;
      height: 35px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    input {
      height: 35px;
      width: 40px;
      margin: 0 10px;
    }
  }

  .cadastro-projeto-publico {
    &__especificos {
      &-itens {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
      }

      &-item {
        box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
        border-radius: 8px;
        padding: 20px;
      }
    }
  }
}
