<div class="organization">
  <app-stepper
    [currentStep]="step"
    [steps]="steps"
    (changeStepEmiiter)="changeStep($event)"
    stepperFrom="curadoria"
    [projectId]="projectId"
  ></app-stepper>

  <div class="organization__substep">
    <app-substepper
      [currentSubStep]="currentSubStep"
      [substeps]="steps[step].substeps"
      (changeSubStepEmitter)="changeSubStep($event)"
    >
    </app-substepper>
  </div>

  <div class="organization__form">
    <div [ngSwitch]="step">
      <!-- Step 0 -->
      <div *ngSwitchCase="0">
        <app-resumo-projeto [projectId]="projectId"></app-resumo-projeto>
      </div>

      <!-- Step 1 -->
      <div *ngSwitchCase="1">
        <app-sobre-ods
          [projectId]="projectId"
          (sendOds)="setSeloOds($event)"
        ></app-sobre-ods>
      </div>
      <div *ngSwitchDefault>Step inválido</div>
    </div>

    <div class="organization__form__actions">
      <button *ngIf="step > 0" type="button" class="previous">
        <img src="/assets/icons/form_previous_arrow.svg" alt="anterior" />
        <span>Anterior</span>
        <div class="empty"></div>
      </button>

      <button *ngIf="step < steps.length - 1" type="button" class="next">
        <div class="empty"></div>
        <span>Próximo</span>
        <img src="/assets/icons/form_next_arrow.svg" alt="proximo" />
      </button>

      <button *ngIf="step === 1" type="button" class="send" (click)="submit()">
        <div class="empty"></div>
        <span>Salvar</span>
        <img src="/assets/icons/form_next_arrow.svg" alt="salvar" />
      </button>
    </div>
  </div>
</div>
