app-stepper {
    position: absolute;
  
    top: 200px;
    left: 50%;
  
    transform: translate(-50%, -50%);
  }
  
  .organization {
    display: flex;
    flex-direction: column;
  
    background-color: #fff;
    width: 100%;
    height: calc(100% - 65px);
    margin-top: 65px;
  
    border-radius: 8px;
  
    &__form {
      overflow-y: auto;
      height: 100%;
  
      padding: 50px;
  
      &__actions {
        display: flex;
        justify-content: flex-end;

        margin-top: 100px;

  
        button {
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          border-radius: 8px;
          padding: 10px 0;
          font-size: 14px;
          width: 160px;
  
          font-weight: 700;
  
          cursor: pointer;
  
          img {
            width: 7px;
            height: 12px;
          }
  
          & > * {
            flex: 1;
          }
        }
  
        .previous {
          background-color: #fff;
          color: #ff7535;
          border: 1px solid #dddddd;
        }
  
        .next {
          margin-left: 16px;
          background-color: #ff7535;
          color: #fff;
          border: 1px solid #ff7535;
        }
  
        .send {
          margin-left: 16px;
          background-color: #dd1367;
          color: #fff;
          border: 1px solid #dd1367;

          img {
              transform: rotate(0);
          }
        }
      }
    }
  }
  
  // Mobile //
  
  @media (max-width: 1000px) {
    app-stepper {
      width: 90%;
  
      top: 33px;
      padding: 0 10px;
    }
  
    .organization {
      &__form {
        &__actions {
          align-items: center;
          flex-direction: column;
          margin-top: 20px;
  
          button {
            font-size: 12px;
          }
  
          .next {
            margin-left: 0;
            margin-top: 15px;
          }
        }
      }
    }
  }
  