<div class="meus-projetos">
  <app-stepper [steps]="steps" (changeStepEmiiter)="changeStep($event)" stepperFrom="projetos"></app-stepper>

  <div class="meus-projetos__substep">
    <app-substepper
      [currentSubStep]="currentSubStep"
      [substeps]="steps[step].substeps"
      (changeSubStepEmitter)="changeSubStep($event)"
    >
    </app-substepper>
  </div>

  <div class="meus-projetos__form">
    <div [ngSwitch]="step">
      <!-- Step 0 -->
      <div *ngSwitchCase="0">
        <div [ngSwitch]="currentSubStep">
          <div *ngSwitchCase="0">
            <app-geral></app-geral>
          </div>

          <div *ngSwitchCase="1">
            <app-estudo-realidade></app-estudo-realidade>
          </div>

          <div *ngSwitchCase="2">
            <app-justificativa></app-justificativa>
          </div>

          <div *ngSwitchCase="3">
            <app-objetivos></app-objetivos>
          </div>

          <div *ngSwitchCase="4">
            <app-publico></app-publico>
          </div>

          <div *ngSwitchCase="5">
            <app-resumo></app-resumo>
          </div>
          <div *ngSwitchDefault>Step inválido</div>
        </div>
      </div>

      <!-- Step 1 -->
      <div *ngSwitchCase="1">
        <div [ngSwitch]="currentSubStep">
          <div *ngSwitchCase="0">
            <app-acoes-desenvolvidas></app-acoes-desenvolvidas>
          </div>

          <div *ngSwitchCase="1">
            <app-investimentos></app-investimentos>
          </div>

          <div *ngSwitchCase="2">
            <app-sobre-ods></app-sobre-ods>
          </div>
          <div *ngSwitchDefault>Step inválido</div>
        </div>
      </div>

      <!-- Step 2 -->
      <div *ngSwitchCase="2">
        <div [ngSwitch]="currentSubStep">
          <app-evidencias></app-evidencias>
        </div>
      </div>
      <div *ngSwitchDefault>Step inválido</div>
    </div>

    <div class="meus-projetos__form__actions">
      <button type="button" class="previous" (click)="updateProject(StepperAction.Previous)">
        <img src="/assets/icons/form_previous_arrow.svg" alt="anterior" />
        <span>Anterior</span>
        <div class="empty"></div>
      </button>

      <button *ngIf="step < steps.length - 1" type="button" class="next" (click)="updateProject(StepperAction.Next)">
        <div class="empty"></div>
        <span>Próximo</span>
        <img src="/assets/icons/form_next_arrow.svg" alt="proximo" />
      </button>

      <button *ngIf="step === steps.length - 1" type="button" class="send" (click)="submit()">
        <span>Enviar</span>
      </button>
    </div>
  </div>
</div>
