@import "~src/scss/styles";

.main {
  background-color: #fff;
  width: 100%;

  .container {
    background-color: #fff;

    padding: 40px;

    margin: 0 auto;

    // width: 100%;
    max-width: 1293px;

    .dados-instituicao {
      font-size: 18px;
      letter-spacing: 0.4px;

      color: #333333;
    }

    &__partners {
      &__add {
        margin-top: 40px;

        button {
          display: flex;
          justify-content: space-between;
          align-items: center;

          border-radius: 8px;
          padding: 10px 0;
          font-size: 14px;
          width: 100%;
          max-width: 280px;

          font-weight: 700;

          cursor: pointer;

          margin-left: 16px;
          background-color: #ff7535;
          color: #fff;
          border: 1px solid #ff7535;

          img {
            width: 20px;
            height: 20px;
          }

          & > * {
            flex: 1;
          }
        }
      }

      .input-section {
        button {
          display: flex;
          justify-content: center;
          align-items: center;

          cursor: pointer;

          background-color: #cf0505;
          width: 40px;
          height: 40px;

          margin-top: 8px;

          border: 1px solid #cf0505;
          border-radius: 6px;
        }
      }
    }

    &__form-actions {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-top: 51px;
      button {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 8px;
        padding: 10px 0;
        font-size: 14px;
        width: 160px;

        font-weight: 700;

        cursor: pointer;
      }

      .cancel {
        background-color: #fff;
        color: #dd1367;

        border: 1px solid transparent;
      }

      .save {
        background-color: #dd1367;
        border: 1px solid #dd1367;

        color: #fff;

        margin-left: 16px;
      }
    }

    &__partners-list {
      margin-top: 62px;
      padding-top: 26px;

      border-top: 1px solid #e6e6e6;

      .list_title {
        font-weight: 600;
        font-size: 20px;

        letter-spacing: 0.4px;

        color: #000000;
        margin-bottom: 20px;
      }

      &__list {
        display: flex;
        flex-direction: column;

        &:nth-child(2n) {
          background-color: #fff;
        }

        .item__item__group:nth-child(2n) {
          background-color: #fff;
        }

        .header {
          display: flex;

          margin-bottom: 5px;
          &__group {
            display: flex;
            justify-content: space-between;

            width: 100%;
            max-width: 1000px;
            &--text {
              font-weight: 300;
              font-size: 13px;

              letter-spacing: 0.3px;

              color: #333333;
            }
          }
        }

        .item {
          display: flex;
          align-items: center;

          &__group {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 0 15px;
            margin: 0 -15px;

            width: 100%;
            max-width: 1000px;
            height: 38px;
            background-color: #f9f9f9;
          }

          &__group:nth-child(2n) {
            background-color: #fff;
          }

          &__trash {
            .trash {
              display: flex;
              justify-content: center;
              align-items: center;

              margin-left: 25px;

              cursor: pointer;

              background-color: #cf0505;
              border: 1px solid #cf0505;
              border-radius: 6px;

              width: 29px;
              height: 29px;
            }
          }
        }

        &__item__group:nth-child(2n) {
          background-color: #fff;
        }
      }
    }
  }
}
