<div class="main">
  <div class="container">
    <form [formGroup]="form">
      <div class="input-section">
        <div class="input-section__radio row">
          <label id="example-radio-group-label">
            Sua instituição possui algum projeto inscrito nesse ciclo do Selo
            ODS IES?
          </label>
          <mat-radio-group
            aria-labelledby="projeto-inscrito"
            formControlName="projetoCicloSelo"
            style="display: flex"
          >
            <mat-radio-button [value]="true"> Sim </mat-radio-button>
            <mat-radio-button [value]="false"> Não </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="input-section" style="margin-top: 50px; margin-bottom: 50px">
        <div class="input-section__radio row">
          <label id="example-radio-group-label">
            O projeto possúi instituições parceiras ou que possua conflito de
            interesse?
          </label>
          <mat-radio-group
            aria-labelledby="instituicoes-parceiras"
            formControlName="instituicoesParceiras"
          >
            <mat-radio-button [value]="true"> Sim </mat-radio-button>
            <mat-radio-button [value]="false"> Não </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <!-- <label class="dados-instituicao">
        Insira os dados da Instituição parceira:
      </label> -->

      <div class="container__partners">
        <!-- <div class="input-section">
          <mat-form-field appearance="outline" class="mw-327">
            <mat-label>CNPJ</mat-label>
            <input matInput mask="00.000.000/0000-00" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="mw-327">
            <mat-label>Nome da Instituição</mat-label>
            <input matInput />
          </mat-form-field>

          <button class="trash" type="button">
            <img src="/assets/icons/trashcan.svg" alt="trash" />
          </button>
        </div> -->

        <div class="container__partners__add">
          <button type="button" (click)="addNewPartner()">
            <img src="/assets/icons/add_partner.svg" alt="add" />
            <span style="flex: 2">Adicionar parceiro</span>
            <div class="empty"></div>
          </button>
        </div>
      </div>

      <!-- <div class="input-selection">
        <mat-form-field appearance="outline" class="mw-323">
          <mat-label>CNPJ</mat-label>
          <input
            matInput
            mask="00.000.000/0000-00"
            formControlName="cnpj"
            required
          />
        </mat-form-field>
      </div> -->
    </form>

    <div class="container__form-actions">
      <button class="cancel" type="button">Cancelar</button>
      <button class="save" type="button" (click)="submit()">Salvar</button>
    </div>

    <div class="container__partners-list" *ngIf="partners.length > 0">
      <h5 class="list_title">Parceiros já adicionados</h5>

      <div class="container__partners-list__list">
        <div class="header">
          <div class="header__group">
            <span class="header__group--text">Nome</span>
            <span class="header__group--text">CNPJ</span>
          </div>
          <div class="empty"></div>
        </div>

        <ng-container *ngFor="let partner of partners; let i = index">
          <div class="item">
            <div class="item__group">
              <div class="item__group--name">
                {{ partner?.nome }}
              </div>
              <div class="item__group--cnpj">
                {{ partner.cnpj | mask: "00.000.000/0000-00" }}
              </div>
            </div>
            <div class="item__trash">
              <button class="trash" type="button" (click)="deletePartner(i)">
                <img src="/assets/icons/trashcan.svg" alt="trash" />
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
