<div class="container">
  <div class="container--title">Justificativa</div>

  <mat-form-field appearance="outline" class="mw-548" style="margin-top: 8px">
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="10"
      cdkAutosizeMaxRows="5"
      id="justificativa"
      [(ngModel)]="justificativa"
      placeholder="Digite aqui..."
    ></textarea>
  </mat-form-field>

  <div class="container__action">
    <button class="container__action--send" type="button" (click)="close()">
      Enviar
    </button>
  </div>
</div>
