.objetivo {
  display: flex;
  flex-direction: column;

  height: 100%;
  max-height: 500px;

  &__title {
    font-weight: 600;
    font-size: 20px;

    text-align: center;

    padding: 40px;
  }

  width: 538px;
  // max-width: 538px;

  .input-section {
    display: flex;
    flex-direction: column;

    padding-bottom: 50px;
    margin-top: -20px;

    .acoes {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      mat-form-field {
        margin-top: -20px;
      }

      .acao {
        display: flex;
        align-items: center;

        mat-form-field {
          width: 100%;
          height: 38px;

          margin: 15px 0;
        }

        // line-height: 34px;

        button {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;

          background-color: #cf0505;
          color: #fff;
          border-radius: 6px;

          margin-left: 14px;
          margin-top: 18px;

          width: 34px;
          height: 34px;
          border: none;

          mat-icon {
            margin: 0;
          }
        }
      }
    }

    .add-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      cursor: pointer;

      color: #fff;

      margin-top: 30px;
      padding: 13px 0;
      width: 100%;
      max-width: 231px;
      border: none;
      background-color: #ff7535;
      border-radius: 8px;

      mat-icon {
        margin-right: 6px;
      }
    }

    span {
      color: #000000;

      font-weight: 300;
      font-size: 13px;
      letter-spacing: 0.3px;

      margin-top: 8px;
      text-align: center;
    }

    .acoes-modal {
      display: flex;
      margin-top: 46px;

      justify-content: center;

      button {
        cursor: pointer;
        border-radius: 8px;
        padding: 13px 0;
        width: 100%;
        max-width: 180px;
        font-weight: bold;
        border: none;
        font-size: 14px;
      }

      .cancel {
        background: none;
        color: #dd1367;
      }

      .save {
        color: #fff;
        background-color: #dd1367;

        margin-left: 16px;
      }
    }
  }
}
