<form [formGroup]="form" class="objetivo">
  <h5 class="objetivo__title">Adicionar objetivo específico</h5>

  <div class="input-section">
    <mat-form-field appearance="outline">
      <mat-label>Nome do objetivo</mat-label>
      <textarea formControlName="nomeObjetivo" matInput rows="5"></textarea>
    </mat-form-field>

    <div class="acoes">
      <ng-container *ngFor="let acao of getAcoes(); let i = index" formGroupName="planosDeAcao">
        <ng-container [formArrayName]="i">
          <div class="acao">
            <mat-form-field appearance="outline">
              <mat-label>Plano de ação</mat-label>
              <input matInput formControlName="descricao" />
            </mat-form-field>
            <button type="button" (click)="deleteAction(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <button class="add-button" type="button" (click)="addAction()">
      <mat-icon>add_circle_outline</mat-icon>
      Adicionar ação
    </button>
    <span>Adicione até 4 planos de ação.</span>

    <div class="acoes-modal">
      <button class="cancel" type="button" (click)="cancel()">Cancelar</button>
      <button class="save" type="button" (click)="save()">Salvar</button>
    </div>
  </div>
</form>
