<form [formGroup]="form">
  <ng-container formGroupName="endereco">
    <div class="input-section">
      <mat-form-field appearance="outline" class="mw-547">
        <mat-label>CEP</mat-label>
        <input
          matInput
          mask="00000-000"
          formControlName="cep"
          required
          [readonly]="
            sessionService.isCuratorRef() ||
            authService.getUserRole() === userRoles.Adm
          "
        />
      </mat-form-field>
    </div>

    <div class="input-section">
      <mat-form-field appearance="outline" class="mw-547">
        <mat-label>Endereço com Longradouro</mat-label>
        <input
          matInput
          formControlName="longradouro"
          required
          [readonly]="
            sessionService.isCuratorRef() ||
            authService.getUserRole() === userRoles.Adm
          "
        />
      </mat-form-field>
    </div>

    <div class="input-section">
      <mat-form-field appearance="outline" class="mw-169">
        <mat-label>Número</mat-label>
        <input
          matInput
          formControlName="numero"
          required
          [readonly]="
            sessionService.isCuratorRef() ||
            authService.getUserRole() === userRoles.Adm
          "
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="mw-362">
        <mat-label>Complemento</mat-label>
        <input
          matInput
          formControlName="complemento"
          [readonly]="
            sessionService.isCuratorRef() ||
            authService.getUserRole() === userRoles.Adm
          "
        />
      </mat-form-field>
    </div>

    <div class="input-section">
      <mat-form-field appearance="outline" class="mw-547">
        <mat-label>Cidade</mat-label>
        <input
          matInput
          formControlName="cidade"
          required
          [readonly]="
            sessionService.isCuratorRef() ||
            authService.getUserRole() === userRoles.Adm
          "
        />
      </mat-form-field>
    </div>

    <div class="input-section">
      <mat-form-field appearance="outline" class="mw-547">
        <mat-label>Bairro</mat-label>
        <input
          matInput
          formControlName="bairro"
          required
          [readonly]="
            sessionService.isCuratorRef() ||
            authService.getUserRole() === userRoles.Adm
          "
        />
      </mat-form-field>
    </div>

    <div class="input-section">
      <mat-form-field appearance="outline" class="mw-547">
        <mat-label>Estado</mat-label>
        <!-- <input
          matInput
          formControlName="estado"
          required
          [readonly]="
            sessionService.isCuratorRef() ||
            authService.getUserRole() === userRoles.Adm
          "
        /> -->

        <mat-select formControlName="estado">
          <mat-option *ngFor="let state of states.values" [value]="state">
            {{ state }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-container>
</form>
