:host {
  display: flex;
  align-items: center;

  width: 100vw;
  height: 100%;
}

.login {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 65px 0;

  margin: 0 auto;

  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  width: 100%;

  max-width: 453px;

  &__welcome {
    color: #000;

    font-weight: 600;
    font-size: 20px;
  }

  &__login-text {
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;

    width: 80%;
    margin-top: 30px;

    mat-form-field {
      height: 52px;
    }

    mat-form-field + mat-form-field {
      margin-top: 16px;
    }
  }

  &__button {
    cursor: pointer;

    margin-top: 32px;

    font-weight: bold;
    font-size: 16px;

    color: #fff;
    border: none;

    padding: 13px 0;

    background-color: #dd1367;
    letter-spacing: 0.3px;
    border-radius: 8px;

    width: 100%;
    max-width: 246px;
  }
}

// Mobile //
@media (max-width: 1000px) {
  .login {
    width: 80%;

    &__welcome {
      font-size: 16px;
    }

    &__login-text {
      font-size: 12px;
    }

    &__inputs {
      max-width: 290px;

      mat-form-field {
        font-size: 12px;
      }

      mat-form-field + mat-form-field {
        margin-top: 0;
      }
    }

    &__button {
      font-size: 14px;

      width: 80%;
    }
  }
}
