<form [formGroup]="form" class="login" (ngSubmit)="submit()">
  <h5 class="login__welcome">Boas-vindas!</h5>

  <span class="login__login-text">Faça abaixo seu login:</span>

  <div class="login__inputs">
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="senha">
    </mat-form-field>
  </div>

  <button class="login__button" type="submit">Entrar</button>
</form>
