.artigo {
  display: flex;
  flex-direction: column;

  overflow-y: auto;

  height: 100%;
  max-height: 500px;
  padding-bottom: 50px;

  padding: 0 40px 40px 40px;

  &__title {
    font-weight: 600;
    font-size: 20px;

    text-align: center;

    padding: 40px;
  }

  width: 847px;
  // max-width: 538px;

  .input-section {
    display: flex;
    flex-direction: column;

    margin-top: -20px;
  }

  &__input-file {
    display: flex;
    align-items: center;

    margin-top: 24px;

    mat-form-field {
      width: 100%;
      height: 58px;
    }

    max-height: 54px;

    input[type="file"] {
      display: none;
    }

    input[type="file"] + label {
      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      font-weight: bold;
      font-size: 16px;
      letter-spacing: 0.3px;

      color: #ffffff;

      background-color: #ff7535;

      border: none;
      border-radius: 8px;

      padding: 13px 0;

      width: 100%;
      max-width: 219px;
      margin-left: 16px;
    }
  }

  .file-options {
    font-weight: 300;
    font-size: 13px;

    letter-spacing: 0.3px;

    color: #333333;

    margin-top: 10px;
  }

  .acoes-modal {
    display: flex;
    margin-top: 46px;

    justify-content: center;

    button {
      cursor: pointer;
      border-radius: 8px;
      padding: 13px 0;
      width: 100%;
      max-width: 180px;
      font-weight: bold;
      border: none;
      font-size: 14px;
    }

    .cancel {
      background: none;
      color: #dd1367;
    }

    .save {
      color: #fff;
      background-color: #dd1367;

      margin-left: 16px;
    }
  }
}
