<form [formGroup]="form" class="artigo">
  <h5 class="artigo__title">Adicionar artigo</h5>


  <div class="input-section">
    <mat-form-field appearance="outline">
      <mat-label>Título</mat-label>
      <input matInput formControlName="titulo" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Link de Acesso</mat-label>
      <input matInput formControlName="linkAcesso" />
    </mat-form-field>
  </div>

  <div class="acoes-modal">
    <button class="cancel" type="button" (click)="cancel()">Cancelar</button>
    <button class="save" type="button" (click)="save()">Confirmar</button>
  </div>
</form>
