<div class="dialog">
  <div class="dialog--done">
    <img src="/assets/icons/done-cricle.svg" alt="done" />
    <h3>Ação concluída com sucesso!</h3>
  </div>

  <div class="dialog--title">Parabéns!</div>

  <p class="dialog--text">
    Sua participação no Selo ODS foi submetida para avaliação. Fique de olho no seu email para atualizações!
  </p>

  <div class="dialog__actions">
    <button type="button" class="dialog__actions--btn next" (click)="close()">Fechar</button>
  </div>
</div>
