@import "~src/scss/styles";

.confirmation {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 60px 40px;

  h5 {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 20px;

    color: #609e27;

    img {
      width: 47px;
      height: 47px;

      margin-right: 30px;
    }
  }

  &__actions {
    display: flex;

    margin-top: 50px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 8px;
      padding: 10px 0;
      font-size: 14px;
      width: 160px;

      font-weight: 700;

      cursor: pointer;
    }

    .navigate {
      color: #dd1367;
      background-color: #fff;
      border: 1px solid #dd1367;
    }
  }
}
