<div class="confirmation">
  <h5><img src="/assets/icons/home_step_done.svg" alt="done" /> Ação concluída com sucesso!</h5>

  <div class="confirmation__actions">
    <button type="button" class="navigate" (click)="navigate()">
      {{ sendTo?.text }}
    </button>
  </div>
</div>
