<div class="expectativa">
  <h5>Seu maior interesse em participar do programa Selo Social é:</h5>

  <div class="expectativa__rating">
    <div class="expectativa__rating__item">
      <div class="empty"></div>
      <div class="title">
        <div class="texts">
          <span>Sem importância</span>
          <span>Muito importante</span>
        </div>
        <img src="/assets/icons/rating_arrow.svg" alt="arrow" />
      </div>
    </div>

    <ng-container *ngFor="let option of options; let i = index">
      <form class="expectativa__rating__item" [formGroup]="form">
        <ng-container formGroupName="expectativa">
          <div class="item">{{ option.text }}</div>
          <div class="rating">
            <div class="rating-radio red">
              <input
                type="radio"
                [id]="option.formControl + 1"
                [value]="1"
                [formControlName]="option.formControl"
                [disabled]="sessionService.isCuratorRef() || authService.getUserRole() === userRoles.Adm"
                (change)="setRatingColor($event, '#cf0505')"
              />
              <label [for]="option.formControl + 1" [id]="option.formControl + 1 + 'label'">1</label>
            </div>
            <div class="rating-radio red">
              <input
                type="radio"
                [id]="option.formControl + 2"
                [value]="2"
                [formControlName]="option.formControl"
                [disabled]="sessionService.isCuratorRef() || authService.getUserRole() === userRoles.Adm"
                (change)="setRatingColor($event, '#cf0505')"
              />
              <label [for]="option.formControl + 2" [id]="option.formControl + 2 + 'label'">2</label>
            </div>
            <div class="rating-radio yellow">
              <input
                type="radio"
                [id]="option.formControl + 3"
                [value]="3"
                [formControlName]="option.formControl"
                [disabled]="sessionService.isCuratorRef() || authService.getUserRole() === userRoles.Adm"
                (change)="setRatingColor($event, '#e29a0f')"
              />
              <label [for]="option.formControl + 3" [id]="option.formControl + 3 + 'label'">3</label>
            </div>
            <div class="rating-radio yellow">
              <input
                type="radio"
                [id]="option.formControl + 4"
                [value]="4"
                [formControlName]="option.formControl"
                [disabled]="sessionService.isCuratorRef() || authService.getUserRole() === userRoles.Adm"
                (change)="setRatingColor($event, '#e29a0f')"
              />
              <label [for]="option.formControl + 4" [id]="option.formControl + 4 + 'label'">4</label>
            </div>
            <div class="rating-radio green">
              <input
                type="radio"
                [id]="option.formControl + 5"
                [value]="5"
                [formControlName]="option.formControl"
                [disabled]="sessionService.isCuratorRef() || authService.getUserRole() === userRoles.Adm"
                (change)="setRatingColor($event, '#609e27')"
              />
              <label [for]="option.formControl + 5" [id]="option.formControl + 5 + 'label'">5</label>
            </div>
          </div>
        </ng-container>
      </form>
    </ng-container>
  </div>
</div>
