@import "~src/scss/styles";

.expectativa {
  max-width: 821px;

  h5 {
    font-size: 18px;
    letter-spacing: 0.4px;

    color: #333333;
  }

  &__rating {
    margin-top: 34px;

    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 24px 0;

      .empty {
        flex-basis: 70%;
      }

      .title {
        display: flex;
        flex-direction: column;
        flex-basis: 30%;

        .texts {
          display: flex;
          justify-content: space-between;

          font-weight: 300;
          font-size: 13px;
          letter-spacing: 0.3px;

          color: #84838a;
        }

        img {
          max-width: 250px;
        }
      }

      .item {
        font-size: 16px;

        letter-spacing: 0.4px;

        color: #333333;

        flex-basis: 70%;
      }

      .rating {
        display: flex;
        justify-content: space-between;
        font-weight: 600;

        flex-basis: 30%;

        padding: 0 10px;

        .rating-radio {
          border-radius: 50%;

          input[type="radio"] {
            display: none;
          }

          input[type="radio"] + label {
            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            width: 32px;
            height: 32px;

            background: transparent;
            // opacity: 0.75;
          }

          input[type="radio"]:checked + label {
            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            border-radius: 50%;

            width: 32px;
            height: 32px;

            // background-color: rgb(194, 194, 194);
          }
        }

        .red {
          border: 1px solid #cf0505;
          color: #cf0505;
        }

        .yellow {
          border: 1px solid #e29a0f;
          color: #e29a0f;
        }

        .green {
          border: 1px solid #609e27;
          color: #609e27;
        }
      }

      &:nth-child(2n) {
        background: #f9f9f9;

        padding: 5px 0;
      }
    }
  }
}

// Mobile //
@media (max-width: 1000px) {
  .expectativa {
    h5 {
      font-size: 16px;
    }

    &__rating {
      margin-top: 0;

      &__item {
        flex-direction: column;

        padding: 0;

        &:not(:first-child) {
          margin-top: 20px;
        }

        .title {
          display: none;
        }

        .item {
          font-size: 14px;
          padding: 0 10px;
        }

        .rating {
          width: 90%;

          .rating-radio {
            input[type="radio"] + label {
              width: 22px;
              height: 22px;
            }

            input[type="radio"]:checked + label {
              width: 22px;
              height: 22px;
            }
          }
        }
      }
    }
  }
}
