.header {
  display: flex;
  align-items: center;

  height: 196px;
  padding-right: 40px;

  &__logout {
    display: flex;
    align-items: center;

    position: absolute;
    cursor: pointer;

    top: 10px;
    right: 10px;

    img {
      width: 18px;
      height: 18px;
    }

    span {
      font-family: Open Sans;
      font-weight: 600;
      font-size: 16px;

      letter-spacing: 0.3px;

      color: #000000;

      margin-left: 10px;

      &:hover {
        text-decoration-line: underline;
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    min-width: 270px;

    img {
      cursor: pointer;
    }
  }

  &__texts {
    display: flex;
    align-items: center;

    width: 100%;

    margin-left: 40px;

    &__welcome-text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding: 0 40px;

      flex: 1;

      line-height: 30px;

      &--title {
        font-size: 36px;
      }

      &--subtitle {
        font-size: 18px;

        margin-top: 24px;
      }
    }

    &__doubts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;

      background-color: #eef8fc;
      border-radius: 8px;

      height: 111px;
      padding: 0 40px;

      &--title {
        font-weight: 600;
        font-size: 20px;
      }

      &__contact {
        margin-top: 10px;

        &--email {
          font-size: 16px;
          text-decoration: underline;
          font-weight: 600;
        }

        &--phone {
          font-size: 18px;
        }
      }
    }

    &__routing {
      display: flex;
      flex-direction: column;

      padding: 0 40px;

      &--title {
        font-weight: 600;
        font-size: 32px;
      }

      &--route {
        font-size: 18px;
        margin-top: 27px;

        a {
          text-decoration: none;
          color: black;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

/* ## Mobile */

@media (max-width: 1000px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 40px;

    height: 120px;

    &__logo {
      display: none;
    }

    &__texts {
      flex-direction: column;

      margin: 0;
      margin-top: 20px;
      padding: 0 0 10px 0;

      &__welcome-text {
        display: flex;
        flex-direction: column;

        padding: 0;
        line-height: 20px;

        margin-left: 0;
        margin-top: 0;

        &--title {
          font-size: 18px;
          display: block;
          width: 100%;
          text-align: center;
        }

        &--subtitle {
          font-size: 12px;
          display: block;
          width: 100%;
          text-align: center;

          margin-top: 10px;
        }
      }

      &__doubts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        background-color: #eef8fc;

        display: none;

        margin-top: 10px;

        padding-top: 10px;
        padding-bottom: 10px;

        &--title {
          font-size: 16px;
          display: none;
        }

        &__contact {
          margin-top: 5px;

          &--email {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 12px;
          }

          &--phone {
            display: block;
            width: 100%;
            font-size: 14px;
            text-align: center;
          }
        }
      }

      &__routing {
        &--title {
          font-size: 24px;
        }

        &--route {
          font-size: 14px;
        }
      }
    }
  }
}
