<div class="header" id="header" #header>
  <div class="header__logout" (click)="logout()">
    <img src="/assets/icons/logout.svg" alt="logout" />
    <span>Sair</span>
  </div>

  <div class="header__logo">
    <img [routerLink]="['/home']" src="/assets/images/logo.png" />
  </div>

  <div class="header__texts">
    <div class="header__texts__welcome-text" *ngIf="url === 'home'">
      <span class="header__texts__welcome-text--title"
        >Bem vindo, <strong>{{ displayName }}</strong></span
      >
      <span class="header__texts__welcome-text--subtitle"
        >Participante em Brasil (Instituições de Ensino Superior) - Universidade
        Estadual Paulista (UNESP)</span
      >
    </div>

    <div class="header__texts__doubts" *ngIf="url === 'home'">
      <span class="header__texts__doubts--title">Dúvidas ?</span>
      <div class="header__texts__doubts__contact">
        <span class="header__texts__doubts__contact--email"
          >contato@selosocial.com</span
        >
        <span class="header__texts__doubts__contact--phone">
          - (47) 9 9192-3735</span
        >
      </div>
    </div>

    <div class="header__texts__routing" *ngIf="url !== 'home'">
      <span class="header__texts__routing--title">{{ title }}</span>
      <span class="header__texts__routing--route"
        ><a href="/home">Início</a>{{ routePath
        }}<strong>{{ route }}</strong></span
      >
    </div>
  </div>
</div>
