<form [formGroup]="form">
  <ng-container formGroupName="perfil">
    <div class="input-section">
      <div class="input-section__checkbox">
        <label>Qual a área de atuação?</label>
        <ng-container formArrayName="areasAtuacao">
          <mat-checkbox
            [formControlName]="i"
            *ngFor="let areaAtuacao of areasAtuacao; let i = index"
            color="primary"
            [disabled]="
              sessionService.isCuratorRef() ||
              authService.getUserRole() === userRoles.Adm
            "
          >
            {{ areaAtuacao }}
          </mat-checkbox>
        </ng-container>
      </div>
    </div>

    <div class="input-section" style="margin-top: 50px">
      <div class="input-section__radio">
        <label id="example-radio-group-label">
          Qual o número médio de colaboradores que atuam na organização?
        </label>
        <mat-radio-group
          aria-labelledby="como-ficou-sabendo-do-programa"
          formControlName="setor"
          [disabled]="
            sessionService.isCuratorRef() ||
            authService.getUserRole() === userRoles.Adm
          "
        >
          <mat-radio-button
            *ngFor="let option of colaboradores"
            [value]="option"
          >
            {{ option }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="input-section" style="margin-top: 50px">
      <div class="input-section__radio row">
        <label id="example-radio-group-label">
          Os ODS fazem parte do PDI da Instituição?
        </label>
        <mat-radio-group
          aria-labelledby="como-ficou-sabendo-do-programa"
          formControlName="odsFazPartePdi"
          [disabled]="
            sessionService.isCuratorRef() ||
            authService.getUserRole() === userRoles.Adm
          "
        >
          <mat-radio-button value="sim">Sim</mat-radio-button>
          <mat-radio-button value="nao">Não</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="input-section" style="margin-top: 50px">
      <div class="input-section__radio row">
        <label id="example-radio-group-label">
          Existe algum comitê ou comissão na sua instituição para implantação da
          Agenda 2030?
        </label>
        <mat-radio-group
          aria-labelledby="como-ficou-sabendo-do-programa"
          formControlName="existeComite"
          [disabled]="
            sessionService.isCuratorRef() ||
            authService.getUserRole() === userRoles.Adm
          "
        >
          <mat-radio-button value="sim">Sim</mat-radio-button>
          <mat-radio-button value="nao">Não</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="input-section" style="margin-top: 50px">
      <div class="input-section__radio row">
        <label id="example-radio-group-label">
          A instituição participa de alguma rede relacionada aos ODS?
        </label>
        <mat-radio-group
          aria-labelledby="como-ficou-sabendo-do-programa"
          formControlName="participaRede"
          [disabled]="
            sessionService.isCuratorRef() ||
            authService.getUserRole() === userRoles.Adm
          "
        >
          <mat-radio-button value="sim">Sim</mat-radio-button>
          <mat-radio-button value="nao">Não</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="input-section">
      <mat-form-field appearance="outline" class="mw-323">
        <mat-label>Se sim, qual?</mat-label>
        <input
          matInput
          formControlName="participaRedeQual"
          [readonly]="
            sessionService.isCuratorRef() ||
            authService.getUserRole() === userRoles.Adm
          "
        />
      </mat-form-field>
    </div>

    <div class="input-section" style="margin-top: 50px">
      <div class="input-section__radio row">
        <label id="example-radio-group-label">
          A instituição já submeteu a entrada no
          <a [href]="theRankingLink" target="_blank">THE RANKING</a>?
        </label>
        <mat-radio-group
          aria-labelledby="como-ficou-sabendo-do-programa"
          formControlName="entradaRanking"
          [disabled]="
            sessionService.isCuratorRef() ||
            authService.getUserRole() === userRoles.Adm
          "
        >
          <mat-radio-button value="sim">Sim</mat-radio-button>
          <mat-radio-button value="nao">Não</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </ng-container>
</form>
