<div class="organization">
  <app-stepper
    [currentStep]="step"
    [steps]="steps"
    (changeStepEmiiter)="changeStep($event)"
    stepperFrom="organization"
  ></app-stepper>

  <div class="organization__substep">
    <app-substepper
      [currentSubStep]="currentSubStep"
      [substeps]="steps[step].substeps"
      (changeSubStepEmitter)="changeSubStep($event)"
    >
    </app-substepper>
  </div>

  <div class="organization__form">
    <div [ngSwitch]="step">
      <!-- Step 0 -->
      <div *ngSwitchCase="0">
        <div [ngSwitch]="currentSubStep">
          <div *ngSwitchCase="0">
            <app-dados-cadastrais></app-dados-cadastrais>
            <!-- <app-dados-cadastrais [parentForm]="form" (formEmitter)="patchForm($event)"></app-dados-cadastrais> -->
          </div>

          <div *ngSwitchCase="1">
            <app-endereco></app-endereco>
            <!-- <app-endereco [parentForm]="form" (formEmitter)="patchForm($event)"></app-endereco> -->
          </div>

          <div *ngSwitchCase="2">
            <app-pessoal></app-pessoal>
          </div>
          <div *ngSwitchDefault>Step inválido</div>
        </div>
      </div>

      <!-- Step 1 -->
      <div *ngSwitchCase="1">
        <div [ngSwitch]="currentSubStep">
          <div *ngSwitchCase="0">
            <app-perfil></app-perfil>
          </div>

          <div *ngSwitchCase="1">
            <app-projetos></app-projetos>
          </div>

          <div *ngSwitchCase="2">
            <app-expectativa></app-expectativa>
          </div>
          <div *ngSwitchDefault>Step inválido</div>
        </div>
      </div>

      <!-- Step 2 -->
      <div *ngSwitchCase="2">
        <div [ngSwitch]="currentSubStep">
          <app-comunicacao></app-comunicacao>
        </div>
      </div>
      <div *ngSwitchDefault>Step inválido</div>
    </div>

    <div
      class="organization__form__actions"
      *ngIf="
        !sessionService.isCuratorRef() &&
        authService.getUserRole() !== userRoles.Adm
      "
    >
      <button
        *ngIf="(step > 0 && currentSubStep === 0) || currentSubStep > 0"
        type="button"
        class="previous"
        (click)="updateOrganization(StepperAction.Previous)"
      >
        <img src="/assets/icons/form_previous_arrow.svg" alt="anterior" />
        <span>Anterior</span>
        <div class="empty"></div>
      </button>

      <button
        *ngIf="step < steps.length - 1"
        type="button"
        class="next"
        (click)="updateOrganization(StepperAction.Next)"
      >
        <div class="empty"></div>
        <span>Próximo</span>
        <img src="/assets/icons/form_next_arrow.svg" alt="proximo" />
      </button>

      <button
        *ngIf="step === steps.length - 1"
        type="button"
        class="send"
        (click)="submit()"
      >
        <span>Enviar</span>
      </button>
    </div>
  </div>
</div>
