<form [formGroup]="form" class="cadastro-projeto-objetivos">
  <ng-container formGroupName="objetivos">

    <div class="cadastro-projeto-objetivos__titulo primary-title">
      Objetivo geral *
    </div>
    <div class="cadastro-projeto-objetivos__input">
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="objetivoGeral" placeholder="Digite aqui..." rows="10"></textarea>
      </mat-form-field>
      <p class="primary-text">* Obrigatório</p>
    </div>
    <div class="cadastro-projeto-objetivos__especificos">
      <p class="primary-title">Objetivos Específicos</p>
      <div class="cadastro-projeto-objetivos__especificos-itens">
        <ng-container formGroupName="objetivosEspecificos">
          <div class="cadastro-projeto-objetivos__especificos-item"
            *ngFor="let objetivo of getObjetivosEspecificos(); let i = index" [formArrayName]="i">
            <div class="cadastro-projeto-objetivos__especificos-card">
              <p class="primary-title">
                {{ objetivo.value.nomeObjetivo }}
              </p>
              <p class="primary-text">Planos de ação:</p>
              <div class="cadastro-projeto-objetivos__especificos-planos"
                *ngFor="let plano of getPlanoAcao(objetivo); let p = index" formGroupName="planosDeAcao">
                <ng-container [formArrayName]="p">
                  <p class="primary-text">
                    {{ plano.value.descricao }}
                  </p>
                </ng-container>
              </div>
              <button class="c-button c-button__outline"
                style="justify-content: center; width: 100%; align-self: flex-end; justify-self: flex-end;"
                (click)="updateObjetivo(i)">
                Adicionar ação
              </button>
            </div>
          </div>
        </ng-container>
        <button class="c-button c-button__danger" style="padding: 10px; height: 50px" (click)="addObjetivo(null)">
          <mat-icon>add_circle_outline</mat-icon>
          Adicionar objetivo
        </button>
      </div>
    </div>
  </ng-container>
</form>
