@import "~src/scss/styles";

mat-form-field {
  width: 100%;
}

.cadastro-projeto-objetivos {
  margin-bottom: 80px;

  &__especificos {
    &-itens {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
    }

    &-item {
      box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
      border-radius: 8px;
      padding: 20px;
    }
  }
}
