<div class="home">
  <div class="home__intro-text">
    <span class="home__intro-text--title">Este é o site <strong>Selo Social!</strong></span>
    <span class="home__intro-text--content"
      >É o espaço para gerenciar os dados da sua organização e seus projetos!
      <br />
      Preencher as informações dão transparência ao projeto e ajuda a divulgar sua organização!</span
    >
  </div>

  <div class="home__filmmakers">
    <span class="home__filmmakers--title">
      Realizadores e Parceiros do Selo Social de Brasil (Instituições de Ensino Superior)
    </span>

    <div class="home__filmmakers__images">
      <img src="/assets/images/ufpb.png" alt="ufpb" />
      <img src="/assets/images/npds.png" alt="npds" />
      <img src="/assets/images/lm.png" alt="lm" />
      <img src="/assets/images/cnpq.png" alt="cnpq" />
    </div>
    <!-- <img src="/assets/images/home_filmmakers.jpg" class="home__filmmakers--image" /> -->
  </div>

  <div class="home__steps" *ngIf="_authService.getUserRole() !== IUserRole.Adm">
    <span class="home__steps--title">
      Veja abaixo sua situação e qual seu próximo passo:
      <span class="counter">(9/14)</span>
    </span>

    <div class="home__steps__list">
      <ng-container *ngFor="let step of steps">
        <div class="home__steps__list__item">
          <div class="home__steps__list__item__status">
            <img
              [src]="step.status === 1 ? '/assets/icons/home_step_done.svg' : '/assets/icons/home_step.svg'"
              class="home__steps__list__item__status--image"
            />
            <span class="home__steps__list__item__status--title" [ngClass]="{ success: step.status === 1 }">{{
              step.title
            }}</span>
          </div>
          <button class="home__steps__list__item--action">
            {{ step.status === 1 ? "Visualizar" : "Completar" }}
          </button>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="home__permissions" *ngIf="_authService.getUserRole() === IUserRole.Adm">
    <h3 class="home__permissions--title">Atalhos de suas ações:</h3>

    <div class="home__permissions__cards">
      <ng-container *ngFor="let item of admPermissions">
        <div class="home__permissions__cards__card" [routerLink]="item?.link">
          <div class="home__permissions__cards__card--image">
            <img [src]="item?.img" alt="item?.subtitle" />
          </div>
          <span class="home__permissions__cards__card--subtitle">
            {{ item?.subtitle }}
          </span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
