@import "~src/scss/styles";

.home {
  padding: 0 40px 30px 40px;
  border-top: 1px solid #e6e6e6;
  background-color: #fff;

  padding-top: 26px;

  display: flex;
  flex-direction: column;

  align-items: stretch;

  &__intro-text {
    display: flex;
    flex-direction: column;

    background-color: #f9f9f9;
    border-radius: 8px;

    margin: 0 30px;
    padding: 22px 27px;

    &--title {
      font-size: 18px;
    }

    &--content {
      font-size: 18px;
      color: #333333;
      margin-top: 20px;
      line-height: 30px;
    }
  }

  &__filmmakers {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 50px;

    margin-top: 66px;

    align-self: center;

    &--title {
      font-weight: 600;
      font-size: 18px;
      color: #333333;
    }

    &__images {
      margin-top: 39px;

      display: grid;
      // justify-content: space-between;
      align-items: center;

      grid-template-columns: repeat(auto-fill, 150px);
      column-gap: 40px;

      img {
        max-height: 100px;
      }
    }
  }

  &__steps {
    display: flex;
    flex-direction: column;

    margin-top: 32px;

    &--title {
      font-weight: 600;
      font-size: 18px;
      color: #333333;

      .counter {
        font-weight: normal;
        font-size: 13px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;

      margin-top: 20px;

      &__item {
        display: flex;
        justify-content: space-between;

        background: #f9f9f9;
        padding: 10px;

        &__status {
          display: flex;
          align-items: center;

          &--title {
            margin-left: 10px;
            font-size: 18px;
            color: #333333;
          }
        }

        &--action {
          background: none;
          outline: none;
          border: none;
          cursor: pointer;
          transition: 0.2s ease;

          justify-self: flex-end;

          color: #dd1367;
          font-weight: 600;
          font-size: 16px;

          text-decoration: underline;

          &:hover {
            color: darken($color: #dd1367, $amount: 8);
          }
        }
      }

      &__item:nth-child(2n) {
        background: #fff;
      }
    }
  }

  &__permissions {
    display: flex;
    flex-direction: column;

    margin-top: 32px;

    width: 100%;
    // max-width: 780px;

    &--title {
      font-family: Raleway;
      font-weight: 600;
      font-size: 18px;

      letter-spacing: 0.4px;
      color: #333333;
    }

    &__cards {
      margin-top: 51px;

      display: grid;
      grid-template-columns: repeat(auto-fill, 158px);
      justify-content: space-between;

      column-gap: 40px;

      &__card {
        display: flex;
        flex-direction: column;

        // margin: 0 0 32px 0;
        transition: 0.3s ease;

        border-radius: 8px;

        cursor: pointer;

        &:hover {
          transform: translateY(-5px);
        }

        &--image {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 158px;
          height: 152px;

          background-color: #fff;
          box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.1);

          border-radius: 8px;
        }

        &--subtitle {
          margin-top: 16px;

          font-family: Open Sans;
          font-weight: 600;
          font-size: 18px;
          letter-spacing: 0.3px;
          text-align: center;

          color: #000000;
        }
      }
    }
  }
}

.success {
  color: $success;
}

/* ## Mobile */
@media (max-width: 1000px) {
  .home {
    margin: 0;

    padding: 0;
    padding: 22px 27px;

    &__intro-text {
      margin: 0;

      &--title {
        font-size: 14px;
      }

      &--content {
        font-size: 12px;
        line-height: 20px;
      }
    }

    &__filmmakers {
      display: none;

      &--title {
        font-size: 12px;
        line-height: 20px;
      }
    }

    &__steps {
      &--title {
        font-size: 14px;

        .counter {
          font-size: 12px;
        }
      }

      &__list {
        &__item {
          &__status {
            &--image {
              max-width: 10px;
            }

            &--title {
              margin-left: 5px;
              font-size: 10px;
              line-height: 10px;
            }
          }

          &--action {
            font-size: 10px;
          }
        }
      }
    }
  }
}
