<form [formGroup]="form">
  <ng-container formGroupName="projetos">
    <div class="input-section">
      <div class="input-section__radio row">
        <label id="example-radio-group-label"
          >Sua organização desenvolve projetos com os colaboradores?</label
        >
        <mat-radio-group
          aria-labelledby="como-ficou-sabendo-do-programa"
          formControlName="projetosComColaboradores"
          [disabled]="
            sessionService.isCuratorRef() ||
            authService.getUserRole() === userRoles.Adm
          "
        >
          <mat-radio-button [value]="true">Sim</mat-radio-button>
          <mat-radio-button [value]="false">Não</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div
      class="input-section"
      style="margin-top: 50px"
      *ngIf="form.get('projetos')?.get('projetosComColaboradores')?.value"
    >
      <div class="input-section__checkbox">
        <label>Em qual ODS?</label>

        <div class="input-section__checkbox__row">
          <ng-container formArrayName="projetosComColaboradoresOds">
            <mat-checkbox
              *ngFor="let ods of selosOds; let i = index"
              [formControlName]="i"
              color="primary"
              [disabled]="
                sessionService.isCuratorRef() ||
                authService.getUserRole() === userRoles.Adm
              "
              ><img class="ods-image" [src]="ods.url" alt="ods" />
            </mat-checkbox>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="input-section" style="margin-top: 50px">
      <div class="input-section__radio row">
        <label id="example-radio-group-label"
          >Sua organização desenvolve projetos com a comunidade local?</label
        >
        <mat-radio-group
          aria-labelledby="como-ficou-sabendo-do-programa"
          formControlName="projetosComunidadeLocal"
          [disabled]="
            sessionService.isCuratorRef() ||
            authService.getUserRole() === userRoles.Adm
          "
        >
          <mat-radio-button [value]="true">Sim</mat-radio-button>
          <mat-radio-button [value]="false">Não</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div
      class="input-section"
      style="margin-top: 50px"
      *ngIf="form.get('projetos')?.get('projetosComunidadeLocal')?.value"
    >
      <div class="input-section__checkbox">
        <label>Em qual ODS?</label>

        <div class="input-section">
          <div class="input-section__radio row">
            <mat-radio-group
              aria-labelledby="como-ficou-sabendo-do-programa"
              formControlName="projetosComunidadeLocalOption"
              [disabled]="
                sessionService.isCuratorRef() ||
                authService.getUserRole() === userRoles.Adm
              "
            >
              <mat-radio-button
                [value]="true"
                *ngIf="
                  form.get('projetos')?.get('projetosComColaboradores')?.value
                "
                style="margin-right: 26px !important"
              >
                Selecionar as ODS acima
              </mat-radio-button>
              <mat-radio-button
                [value]="false"
                style="margin-left: 0 !important"
              >
                Selecionar outras ODS
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div
          class="input-section__checkbox__row"
          *ngIf="
            !form.get('projetos')?.get('projetosComunidadeLocalOption')?.value
          "
        >
          <ng-container formArrayName="projetosComunidadeLocalOds">
            <mat-checkbox
              *ngFor="let ods of selosOds; let i = index"
              [formControlName]="i"
              color="primary"
              [disabled]="
                sessionService.isCuratorRef() ||
                authService.getUserRole() === userRoles.Adm
              "
              ><img [src]="ods.url" alt="ods" />
            </mat-checkbox>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="input-section" style="margin-top: 50px">
      <div class="input-section__radio">
        <label id="example-radio-group-label"
          >Os projetos sociais que desenvolvem acontecem:</label
        >
        <mat-radio-group
          aria-labelledby="como-ficou-sabendo-do-programa"
          formControlName="lugarProjetoSocial"
          [disabled]="
            sessionService.isCuratorRef() ||
            authService.getUserRole() === userRoles.Adm
          "
        >
          <mat-radio-button
            *ngFor="let projetoSocial of projetosSociais"
            [value]="projetoSocial"
          >
            {{ projetoSocial }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="input-section" style="margin-top: 50px">
      <div class="input-section__radio row">
        <label id="example-radio-group-label"
          >Você desenvolve parcerias com outras organizações para o
          desenvolvimento de projetos sociais?</label
        >
        <mat-radio-group
          aria-labelledby="como-ficou-sabendo-do-programa"
          formControlName="parceriaComOutrasOrganizacoes"
          [disabled]="
            sessionService.isCuratorRef() ||
            authService.getUserRole() === userRoles.Adm
          "
        >
          <mat-radio-button value="sim">Sim</mat-radio-button>
          <mat-radio-button value="nao">Não</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="input-section" style="margin-top: 50px">
      <div class="input-section__checkbox">
        <label>Com quais setores?</label>
        <ng-container formArrayName="setores">
          <mat-checkbox
            *ngFor="let setor of setores; let i = index"
            [formControlName]="i"
            color="primary"
            [disabled]="
              sessionService.isCuratorRef() ||
              authService.getUserRole() === userRoles.Adm
            "
            >{{ setor }}
          </mat-checkbox>
        </ng-container>
      </div>
    </div>

    <div class="input-section" style="margin-top: 50px">
      <div class="input-section__checkbox">
        <label>Quais finalidades tem os projetos de parceria?</label>
        <ng-container formArrayName="finalidades">
          <mat-checkbox
            *ngFor="let finalidade of finalidades; let i = index"
            [formControlName]="i"
            color="primary"
            [disabled]="
              sessionService.isCuratorRef() ||
              authService.getUserRole() === userRoles.Adm
            "
            >{{ finalidade }}</mat-checkbox
          >
        </ng-container>
      </div>
    </div>
  </ng-container>
</form>
