<form [formGroup]="form">
  <ng-container formGroupName="pessoal">
    <div class="pessoal" formGroupName="representanteLegal">
      <h5>Representante Legal</h5>

      <div class="pessoal__inputs">
        <div class="input-section">
          <mat-form-field appearance="outline" class="mw-670">
            <mat-label>Nome completo</mat-label>
            <input
              matInput
              formControlName="nomeCompleto"
              required
              [readonly]="
                sessionService.isCuratorRef() ||
                authService.getUserRole() === userRoles.Adm
              "
            />
          </mat-form-field>
        </div>

        <div class="input-section">
          <mat-form-field appearance="outline" class="mw-327">
            <mat-label>CPF</mat-label>
            <input
              matInput
              formControlName="cpf"
              mask="000.000.000-00"
              required
              [readonly]="
                sessionService.isCuratorRef() ||
                authService.getUserRole() === userRoles.Adm
              "
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="mw-327">
            <mat-label>Ocupação na Instituição</mat-label>
            <input
              matInput
              formControlName="ocupacaoInstituicao"
              required
              [readonly]="
                sessionService.isCuratorRef() ||
                authService.getUserRole() === userRoles.Adm
              "
            />
          </mat-form-field>
        </div>

        <div class="input-section">
          <mat-form-field appearance="outline" class="mw-327">
            <mat-label>DDD + Telefone para contato</mat-label>
            <input
              matInput
              formControlName="telefone"
              mask="(00) 0000-0000"
              required
              [readonly]="
                sessionService.isCuratorRef() ||
                authService.getUserRole() === userRoles.Adm
              "
            />
            <span class="floating-label">Coloque o ramal, se houver</span>
          </mat-form-field>

          <mat-form-field appearance="outline" class="mw-327">
            <mat-label>Whatsapp</mat-label>
            <input
              matInput
              formControlName="whatsapp"
              mask="(00) 0000-0000"
              prefix="+55 "
              required
              [readonly]="
                sessionService.isCuratorRef() ||
                authService.getUserRole() === userRoles.Adm
              "
            />
            <span class="floating-label">País + DDD + Telefone</span>
          </mat-form-field>
        </div>

        <div class="input-section" style="margin-top: 50px">
          <mat-form-field appearance="outline" class="mw-327">
            <mat-label>E-mail 1</mat-label>
            <input
              matInput
              formControlName="emailContato"
              required
              [readonly]="
                sessionService.isCuratorRef() ||
                authService.getUserRole() === userRoles.Adm
              "
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="mw-327">
            <mat-label>E-mail 2 (Opcional)</mat-label>
            <input
              matInput
              formControlName="emailOpcional"
              [readonly]="
                sessionService.isCuratorRef() ||
                authService.getUserRole() === userRoles.Adm
              "
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="pessoal" formGroupName="representanteDaPagina">
      <h5>Representante da página</h5>

      <mat-checkbox
        formControlName="usarDadosPreCadastro"
        style="margin-top: 20px"
        color="primary"
        [disabled]="
          sessionService.isCuratorRef() ||
          authService.getUserRole() === userRoles.Adm
        "
        >Usar as mesmas informações do Pré-Cadastro
      </mat-checkbox>

      <div class="pessoal__inputs">
        <div class="input-section">
          <mat-form-field appearance="outline" class="mw-670">
            <mat-label>Nome completo</mat-label>
            <input
              matInput
              formControlName="nomeCompleto"
              [readonly]="
                sessionService.isCuratorRef() ||
                authService.getUserRole() === userRoles.Adm
              "
            />
          </mat-form-field>
        </div>

        <div class="input-section">
          <mat-form-field appearance="outline" class="mw-327">
            <mat-label>CPF</mat-label>
            <input
              matInput
              formControlName="cpf"
              mask="000.000.000-00"
              [readonly]="
                sessionService.isCuratorRef() ||
                authService.getUserRole() === userRoles.Adm
              "
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="mw-327">
            <mat-label>Ocupação na Instituição</mat-label>
            <input
              matInput
              formControlName="ocupacaoInstituicao"
              [readonly]="
                sessionService.isCuratorRef() ||
                authService.getUserRole() === userRoles.Adm
              "
            />
          </mat-form-field>
        </div>

        <div class="input-section">
          <mat-form-field appearance="outline" class="mw-327">
            <mat-label>DDD + Telefone para contato</mat-label>
            <input
              matInput
              formControlName="telefone"
              mask="(00) 0000-0000"
              [readonly]="
                sessionService.isCuratorRef() ||
                authService.getUserRole() === userRoles.Adm
              "
            />
            <span class="floating-label">Coloque o ramal, se houver</span>
          </mat-form-field>

          <mat-form-field appearance="outline" class="mw-327">
            <mat-label>Whatsapp</mat-label>
            <input
              matInput
              formControlName="whatsapp"
              mask="(00) 0000-0000"
              prefix="+55 "
              [readonly]="
                sessionService.isCuratorRef() ||
                authService.getUserRole() === userRoles.Adm
              "
            />
            <span class="floating-label">País + DDD + Telefone</span>
          </mat-form-field>
        </div>

        <div class="input-section" style="margin-top: 50px">
          <mat-form-field appearance="outline" class="mw-327">
            <mat-label>E-mail 1</mat-label>
            <input
              matInput
              formControlName="emailContato"
              [readonly]="
                sessionService.isCuratorRef() ||
                authService.getUserRole() === userRoles.Adm
              "
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="mw-327">
            <mat-label>E-mail 2 (Opcional)</mat-label>
            <input
              matInput
              formControlName="emailOpcional"
              [readonly]="
                sessionService.isCuratorRef() ||
                authService.getUserRole() === userRoles.Adm
              "
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </ng-container>
</form>
