@import "~src/scss/styles";

.pessoal {
  h5 {
    font-weight: 600;
    font-size: 20px;

    letter-spacing: 0.4px;

    color: #000000;
  }

  &__inputs {
    margin-top: 24px;
  }

  &:last-child {
    margin-top: 48px;
    padding-top: 48px;

    border-top: 1px solid #e6e6e6;
  }
}

// mobile //

@media (max-width: 1000px) {
  .pessoal {
    h5 {
      font-size: 14px;
    }
  }
}
