<form [formGroup]="form" class="cadastro-projeto-realidade">
  <div class="cadastro-projeto-realidade__titulo primary-title">
    Estudo da realidade *
  </div>
  <div class="cadastro-projeto-realidade__subtitulo primary-text">
    Apresente o cenário que o projeto quer mudar
  </div>
  <div class="cadastro-projeto-realidade__input">
    <mat-form-field appearance="outline">
      <textarea matInput formControlName="estudoRealidade" placeholder="Digite aqui..." rows="10"></textarea>
    </mat-form-field>
    <p class="primary-text">* Obrigatório</p>
  </div>
</form>
