.sobre-ods {
  &__items {
    &__item {
      display: flex;
      align-items: center;

      margin-top: 30px;
    }

    &__selo {
      flex: 1 10%;

      display: flex;
      align-items: center;
      justify-content: center;

      flex-direction: column;

      img {
        width: 100%;
        margin: auto;
        // margin-top: 50px;
      }

      button {
        justify-content: center;
        margin: 0;
        margin-top: 12px;
        width: 90%;
      }

      .edit {
        background-color: #fff;
        color: #ff7535;
      }
    }

    &__input {
      flex: 1 90%;
      margin-left: 20px;

      mat-form-field {
        width: 100%;
      }
    }
  }
}
