<form [formGroup]="form" class="sobre-ods">
  <ng-container formGroupName="geral">

    <div class="sobre-ods__titulo primary-title">
      Clique em cada ODS para validar a atuação:
    </div>

    <div class="sobre-ods__items" formGroupName="finalidadesSelosOds">
      <ng-container *ngFor="let ods of getSelosOdsArray(); let i = index" [formArrayName]="i">
        <div class="sobre-ods__items__item" *ngIf="ods.value.checked">
          <div class="sobre-ods__items__selo">
            <img [src]="ods.value.url" alt="Selo" />
            <button class="c-button c-button__primary edit" *ngIf="ods.valid" (click)="editOds(ods, i)">Editar</button>
            <button class="c-button c-button__primary" *ngIf="!ods.valid" (click)="editOds(ods, i)">Validar</button>
          </div>
          <div class="sobre-ods__items__input">
            <p class="primary-title">{{ ods.value.nome }}</p>
            <mat-form-field appearance="outline">
              <textarea matInput placeholder="Digite aqui..." rows="6" formControlName="descricao"></textarea>
            </mat-form-field>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</form>
