<div class="listagem-projetos">
  <div class="listagem-projetos__filtro">
    <form [formGroup]="filtroOrganizacoes">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" placeholder="Nome" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Ciclo</mat-label>
        <mat-select formControlName="ciclo">
          <mat-option *ngFor="let ciclo of ciclos" [value]="ciclo.value">
            {{ ciclo.desc }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="c-button c-button__outline" (click)="resetFilter()">Limpar</button>
      <button class="c-button c-button__primary" (click)="filtrar()">Filtrar</button>
    </form>
  </div>
  <div class="listagem-projetos__listagem">
    <div class="listagem-projetos__header">
      <div class="listagem-projetos__titulo">Listagem de organizações (clique para visualizar)</div>
      <!-- <div class="listagem-projetos__novo">
          <a
            (click)="projectService.createProject()"
            class="c-button c-button__danger"
          >
            <mat-icon>add_circle_outline</mat-icon>
            Novo projeto
          </a>
        </div> -->
    </div>
    <div class="listagem-projetos__tabela">
      <table>
        <h3
          *ngIf="organizations.length === 0"
          style="
            font-family: Raleway;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: 0.4px;
            color: #333333;
            margin-top: 20px;
          "
        >
          Nenhum resultado encontrado.
        </h3>
        <thead>
          <tr>
            <!-- <th>Número</th> -->
            <th class="clickable">Nome</th>
            <th>UF</th>
            <!-- <th>Tipo</th> -->
            <th>Setor</th>
            <th class="status">Status cadastro</th>
            <!-- <th>Tipo</th>
                <th>Participante</th>
                <th>Status cadastro</th>
                <th>Status Curadoria 1</th>
                <th>Status Curadoria 2</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let organization of organizations">
            <!-- <td>{{ projeto?.numero || 'Indefinido' }}</td> -->
            <td class="clickable" [routerLink]="['/organizacao', organization?.id]">
              {{ organization?.dadosCadastrais?.nomeInstituicao || "Indefinido" }}
            </td>
            <td>
              {{ organization?.endereco?.estado || "Indefinido" }}
            </td>
            <td>
              {{ organization?.dadosCadastrais?.setor || "Indefinido" }}
            </td>
            <td class="status">
              <img
                src="/assets/icons/done-cricle.svg"
                alt="done"
                class="listagem-projetos__tabela--check"
                *ngIf="organization?.valid"
              />

              <img
                src="/assets/icons/undone_circle.svg"
                alt="done"
                class="listagem-projetos__tabela--check"
                *ngIf="!organization?.valid"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
