.validacao {
  display: flex;
  flex-direction: column;

  overflow-y: auto;

  height: 100%;
  max-height: 500px;
  padding-bottom: 50px;

  &__title {
    font-weight: 600;
    font-size: 20px;

    text-align: center;

    padding: 40px;
  }

  width: 538px;
  // max-width: 538px;

  .input-section {
    display: flex;
    flex-direction: column;

    margin-top: -20px;
  }

  .acoes-modal {
    display: flex;
    margin-top: 46px;

    justify-content: center;

    button {
      cursor: pointer;
      border-radius: 8px;
      padding: 13px 0;
      width: 100%;
      max-width: 180px;
      font-weight: bold;
      border: none;
      font-size: 14px;
    }

    .cancel {
      background: none;
      color: #dd1367;
    }

    .save {
      color: #fff;
      background-color: #dd1367;

      margin-left: 16px;
    }
  }
}
