<form [formGroup]="form" class="validacao">
  <h5 class="validacao__title">Validação dos impactos da ODS</h5>

  <div class="input-section">
    <label class="textarea-label">Como o resultado foi percebido?</label>
    <mat-form-field appearance="outline">
      <textarea matInput rows="5" placeholder="Digite aqui..." formControlName="comoResultadoFoiPercebido"></textarea>
    </mat-form-field>
  </div>

  <div class="input-section" style="margin-top: 24px;">
    <label class="textarea-label">Quem se beneficiou desse resultado?</label>
    <mat-form-field appearance="outline">
      <textarea matInput rows="5" placeholder="Digite aqui..." formControlName="quemBeneficiouResultado"></textarea>
    </mat-form-field>
  </div>

  <div class="input-section" style="margin-top: 24px;">
    <label class="textarea-label">Qual contexto em que ele aconteceu?</label>
    <mat-form-field appearance="outline">
      <textarea matInput rows="5" placeholder="Digite aqui..." formControlName="contextoQueAconteceu"></textarea>
    </mat-form-field>
  </div>

  <div class="input-section" style="margin-top: 24px;">
    <label class="textarea-label">Resultado percebido:</label>
    <mat-form-field appearance="outline">
      <textarea matInput rows="5" placeholder="Digite aqui..." formControlName="resultadoPercebido"></textarea>
    </mat-form-field>
  </div>

  <div class="acoes-modal">
    <button class="cancel" type="button" (click)="cancel()">Cancelar</button>
    <button class="save" type="button" (click)="save()">Salvar</button>
  </div>
</form>
