@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "~src/scss/shared";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
body,
.btn {
  font-family: "Open Sans", sans-serif;
}

button,
input[type="file"] + label {
  transition: 0.3s ease;

  &:hover {
    -webkit-box-shadow: 1px 19px 24px -13px rgba(0, 0, 0, 0.38);
    box-shadow: 1px 19px 24px -13px rgba(0, 0, 0, 0.38);
  }
}

:host::ng-deep.mat-label-content,
.mat-radio-label-content {
  white-space: normal !important;
}

.wrap-mat-radio-label {
  white-space: normal !important;
}

.mat-radio-label-content {
  white-space: normal !important;
}

:host::ng-deep.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-checkbox-layout {
  white-space: normal !important;
}

// .mat-checkbox-inner-container {
//   margin-top: 0 !important;
// }

.c-button {
  border: none;
  cursor: pointer;
  padding: 12px 0;
  width: 100%;
  max-width: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  font-weight: 700;
  cursor: pointer;

  img {
    width: 7px;
    height: 12px;
  }

  mat-icon {
    margin-right: 10px;
  }

  // & > * {
  //   flex: 1;
  // }

  &__danger {
    background-color: #dd1367;
    color: #fff;
  }

  &__outline {
    background-color: #fff;
    color: #ff7535;
    border: 1px solid #dddddd;
  }

  &__primary {
    margin-left: 16px;
    background-color: #ff7535;
    color: #fff;
    border: 1px solid #ff7535;
  }
}

.primary-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.4px;
  color: #333333;
}

.primary-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #333333;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}
