@import "~src/scss/styles";

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  max-width: 579px;

  max-height: 530px;

  padding: 20px 8px 0 8px;

  &--title {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.4px;

    color: #000000;
    text-align: center;
  }

  &--text {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.4px;

    line-height: 32px;

    color: #000000;

    margin-top: 20px;

    text-align: center;
  }

  &--download {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    width: 100%;
    max-width: 219px;

    padding: 15px 0;
    margin-top: 34px;

    color: #fff;

    border-radius: 8px;

    text-decoration: none;

    background-color: #ff7535;
    border: 1px solid #ff7535;

    span {
      font-family: Open Sans;
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 0.3px;

      margin-left: 10px;

      //   color: #ffffff;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;

    margin-top: 62px;
    padding-bottom: 40px;

    width: 100%;

    &--btn {
      width: 100%;
      max-width: 180px;
      height: 45px;

      border-radius: 8px;

      cursor: pointer;

      font-weight: bold;
    }

    .back {
      border: none;

      background: none;
      color: #cf0505;
    }

    .next {
      margin-left: 16px;

      border: none;

      background-color: #cf0505;
      border: 1px solid #cf0505;

      color: #fff;
    }
  }
}
