<div class="dialog">
  <div class="dialog--title">Atenção!</div>

  <p class="dialog--text">
    Antes de gerar o protocolo final de submissão, adicione todos os projetos que deseje inscrever neste ciclo.
    <br />
    <br />
    Ao clicar em Download, imprima o protocolo, rubrique as páginas, assine no final e envie o documento escaneado na
    próxima janela.
  </p>

  <a
    href="/assets/pdf/Protocolo teste.pdf"
    target="_blank"
    download="Protocolo teste"
    class="dialog--download"
    (click)="downloadProtocolo()"
  >
    <mat-icon>file_download</mat-icon>
    <span>Download</span>
  </a>
  <!-- 
  <button class="dialog--download" (click)="downloadProtocolo()">
    <mat-icon>file_download</mat-icon>
    <span>Download</span>
  </button> -->

  <div class="dialog__actions">
    <button type="button" class="dialog__actions--btn back" (click)="close()">Cancelar</button>
    <button type="button" class="dialog__actions--btn next" (click)="submit()">Confirmar</button>
  </div>
</div>
