<div class="dialog">
  <div class="dialog--title">Atenção!</div>

  <p class="dialog--text">Envie o protocolo de submissão digitalizado, com sua rubrica e assinatura</p>

  <div class="dialog__file">
    <mat-form-field appearance="outline" class="mw-323">
      <mat-label>{{ fileName || "Nenhum arquivo selecionado" }}</mat-label>
      <input matInput readonly />
    </mat-form-field>

    <input type="file" id="file" (change)="onFileChange($event?.target)" />

    <label for="file" *ngIf="!fileName">
      <mat-icon aria-hidden="false" aria-label="upload">file_upload</mat-icon>
      Procurar
    </label>

    <div class="done" *ngIf="fileName">
      <img src="/assets/icons/done-cricle.svg" alt="done" />
      <span>Concluído</span>
    </div>
  </div>

  <div class="dialog__actions">
    <button type="button" class="dialog__actions--btn back" (click)="close()">Cancelar</button>
    <button *ngIf="fileName" type="button" class="dialog__actions--btn next" (click)="submit()">
      Submeter Protocolo
    </button>
  </div>
</div>
