<div class="confirmation">
  <h5>{{ data?.title }}</h5>
  <span>{{ data?.message }}</span>

  <div class="confirmation__actions">
    <button type="button" class="cancel" (click)="dismiss()">{{ data?.dismiss }}</button>

    <button type="button" class="confirm" (click)="confirm()">{{ data?.confirm }}</button>
  </div>
</div>
