<div class="loader" *ngIf="isLoading | async">
  <app-loader></app-loader>
</div>

<div *ngIf="(sessionService.getSession() && sessionService.getSessionFirstLogin()) || !sessionService.getSession()"
  class="non-user-header">
  <app-non-user-header></app-non-user-header>
</div>

<div *ngIf="sessionService.getSession() && !sessionService.getSessionFirstLogin()" class="header">
  <app-header></app-header>
</div>

<div class="app">
  <div *ngIf="sessionService.getSession() && !sessionService.getSessionFirstLogin()" class="app__sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="app__content" id="content">
    <router-outlet></router-outlet>
  </div>
</div>
