@import "~src/scss/styles";

:host {
  display: flex;
  flex-direction: column;

  height: 100%;

  background-color: #f9f9f9;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  &__sidebar {
    background-color: $blue-bg;
    border-radius: 0px 16px 0px 0px;
  }

  &__content {
    width: 100%;
    overflow-y: auto;

    border-radius: 8px;
  }
}

@media (max-width: 1000px) {
  .header {
    &__logo {
      display: none;
    }
  }

  .app {
    &__sidebar {
      z-index: 10;
    }

    &__content {
      position: relative;
      // width: auto;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}
