@import "~src/scss/styles";

.container {
  background-color: #fff;

  width: 100vw;
  max-width: 538px;

  padding: 39px 31px;

  &--title {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 18px;

    letter-spacing: 0.4px;
    color: #333333;
  }

  &__action {
    display: flex;
    justify-content: center;

    margin-top: 31px;

    &--send {
      cursor: pointer;

      width: 100%;
      max-width: 180px;
      padding: 13px 0;

      border: 1px solid #dd1367;
      border-radius: 8px;

      background-color: #dd1367;
      color: #fff;
    }
  }
}
