@import "~src/scss/styles";

.container {
  background-color: #fff;
  margin: 0 auto;
  max-width: 1142px;

  .sobreods {
    &__title {
      font-size: 18px;

      letter-spacing: 0.4px;
      color: #000000;
    }

    &__list {
      display: flex;
      flex-direction: column;

      margin-top: 60px;

      &__item {
        display: flex;

        &__image {
          position: relative;

          img {
            width: 123px;
            height: 123px;
          }

          .done-img {
            position: absolute;

            top: -10px;
            right: -7px;

            width: 32.5px;
            height: 32.5px;
          }
        }

        &__content {
          display: flex;
          flex-direction: column;

          margin-left: 20px;
          width: 100%;
          max-width: 979px;

          &__title {
            font-family: Open Sans !important;
            font-weight: 600;
            font-size: 20px;

            letter-spacing: 0.4px;
            color: #333333;

            margin-bottom: 8px;
          }

          &__description {
            font-family: Open Sans;
            font-weight: normal;
            font-size: 16px;

            line-height: 32px;

            letter-spacing: 0.4px;
            color: #333333;
          }

          &__done {
            background-color: #fff5f5;

            padding: 10px 16px 20px 16px;
            border-radius: 8px;

            margin-top: 24px;

            // .input-section {
            //   margin-bottom: 16px;
            // }

            &__justification {
              display: flex;
              flex-direction: column;

              &--title {
                font-weight: 600;
                font-size: 18px;

                letter-spacing: 0.4px;
                color: #333333;

                margin-bottom: 16px;
              }

              &--text {
                font-family: Open Sans;
                font-size: 16px;

                letter-spacing: 0.4px;
                color: #333333;
              }
            }
          }

          &__actions {
            display: flex;
            justify-content: flex-end;

            margin-top: 20px;
          }
        }
      }
    }
  }
}
