<form class="container" [formGroup]="form" *ngIf="form && form.value.ods">
  <div class="sobreods" formGroupName="ods">
    <h3 class="sobreods__title">Clique em cada ODS para validar a atuação:</h3>

    <ng-container
      *ngFor="let ods of getOds(); let i = index"
      [formArrayName]="i"
    >
      <div class="sobreods__list">
        <div class="sobreods__list__item">
          <div class="sobreods__list__item__image">
            <img [src]="ods?.value.url" alt="ods" />
            <img
              src="/assets/icons/done-cricle.svg"
              alt="undone"
              class="done-img"
              *ngIf="ods?.value.validado"
            />
            <img
              src="/assets/icons/undone_circle.svg"
              alt="undone"
              class="done-img"
              *ngIf="!ods?.value.validado"
            />
          </div>

          <div class="sobreods__list__item__content">
            <div class="sobreods__list__item__content__title">
              {{ ods?.value.nome }}
            </div>

            <div class="sobreods__list__item__content__description">
              {{ ods?.value.comoResultadoFoiPercebido }}
              <br />
              {{ ods?.value.quemBeneficiouResultado }}
              <br />
              {{ ods?.value.contextoQueAconteceu }}
              <br />
              {{ ods?.value.resultadoPercebido }}
            </div>

            <!-- <div class="sobreods__list__item__content__done">
            <div class="input-section">
              <div class="input-section__radio row">
                <mat-radio-group aria-labelledby="instituicoes-parceiras">
                  <mat-radio-button [value]="true">
                    Realizado
                  </mat-radio-button>
                  <mat-radio-button [value]="false">
                    Não realizado
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="sobreods__list__item__content__done__justification">
              <div
                class="
                  sobreods__list__item__content__done__justification--title
                "
              >
                Justificativa
              </div>

              <div
                class="sobreods__list__item__content__done__justification--text"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptates ut omnis cumque atque est. Velit, beatae omnis
                veritatis qui nemo dicta error ex eos quod laboriosam facere
                debitis pariatur! Quisquam!
              </div>
            </div>
          </div> -->

            <div class="sobreods__list__item__content__actions">
              <div class="input-section">
                <div class="input-section__radio row">
                  <mat-radio-group
                    aria-labelledby="instituicoes-parceiras"
                    formControlName="validado"
                    (change)="checkOpenIdeiaDialog(ods, $event.value)"
                  >
                    <mat-radio-button [value]="true">Validado</mat-radio-button>
                    <mat-radio-button [value]="false">
                      Sugerir ideia
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</form>
