@import "~src/scss/styles";

form {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-gap: 15px;
  padding: 15px;

  @media (max-width: 1050px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;

    :nth-child(1) {
      grid-area: 1 / 1 / 2 / 3;
    }
    :nth-child(2) {
      grid-area: 2 / 1 / 3 / 3;
    }
    :nth-child(3) {
      grid-area: 3 / 1 / 4 / 2;
    }
    :nth-child(4) {
      grid-area: 3 / 2 / 4 / 3;
    }
  }
}

.c-button__outline,
.c-button__primary {
  justify-content: center;
  width: 100%;
  height: 55px;
  margin: 0;
}

.c-button__danger {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px 20px;

  text-decoration: none;
}

.listagem-protocolos {
  &__tabela,
  &__header {
    padding: 15px;
  }

  &__header {
    display: flex;
    width: 97%;
    justify-content: space-between;
    align-items: center;

    &__enviar-protocolo {
      display: flex;
      justify-content: center;
      align-items: center;

      background: #dd1367;
      border: 1px solid #dd1367;

      cursor: pointer;

      border-radius: 8px;

      width: 100%;
      max-width: 322px;

      padding: 10px 0;

      color: #fff;

      span {
        margin-left: 10px;

        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  &__titulo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 33px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    color: #333333;
  }

  table {
    width: 100%;
    text-align: left;

    td,
    th {
      padding: 10px 5px;
      color: #333333;

      font-size: 13px;

      font-weight: 300;
    }

    td {
      .download {
        display: flex;
        justify-content: center;
        align-self: center;

        color: #fff;
        cursor: pointer;

        width: 100%;

        font-weight: bold;
        font-size: 16px;

        text-decoration: none;

        padding: 10px 0;
        border-radius: 8px;

        background-color: #609e27;
        border: 1px solid #609e27;
      }
    }

    .status {
      font-family: Open Sans;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 0.3px;

      text-align: center;
    }

    .done {
      color: #609e27;
    }

    .undone {
      color: #e29a0f;
    }

    .img {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
      }
    }

    th {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.3px;
      color: #84838a;
    }

    tbody tr:nth-child(even),
    thead tr {
      background-color: white;
    }
  }
}
