<div class="listagem-protocolos">
  <div class="listagem-protocolos__filtro">
    <form [formGroup]="filtroProtocolos" *ngIf="filtroProtocolos">
      <mat-form-field appearance="outline">
        <mat-label>Participante</mat-label>
        <input matInput formControlName="participante" placeholder="Participante" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Em Avaliação</mat-label>
        <mat-select formControlName="avaliacao">
          <mat-option *ngFor="let avaliacao of avaliacoes" [value]="avaliacao.value">
            {{ avaliacao.desc }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="c-button c-button__outline" (click)="resetFilter()">Limpar</button>
      <button class="c-button c-button__primary" (click)="filtrar()">Filtrar</button>
    </form>
  </div>
  <div class="listagem-protocolos__listagem">
    <div class="listagem-protocolos__header">
      <div class="listagem-protocolos__titulo">Meus protocolos</div>

      <button class="listagem-protocolos__header__enviar-protocolo" (click)="openProtocoloDialog()">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Enviar protocolo de submissão</span>
      </button>
      <!-- <div class="listagem-protocolos__novo">
          <a
            (click)="projectService.createProject()"
            class="c-button c-button__danger"
          >
            <mat-icon>add_circle_outline</mat-icon>
            Novo projeto
          </a>
        </div> -->
    </div>
    <div class="listagem-protocolos__tabela">
      <table>
        <h3
          *ngIf="protocolos.length === 0"
          style="
            font-family: Raleway;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: 0.4px;
            color: #333333;
            margin-top: 20px;
            width: 300px;
          "
        >
          Nenhum resultado encontrado.
        </h3>
        <thead>
          <tr>
            <!-- <th>Número</th> -->
            <th class="wp-70">Ano</th>
            <th>Participante</th>
            <th class="wp-110" style="text-align: center">Status protocolo</th>
            <th class="wp-190" style="text-align: center">Baixar certificado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let protocolo of protocolos">
            <!-- <td>{{ projeto?.numero || 'Indefinido' }}</td> -->
            <td>
              {{ protocolo?.ano || "Indefinido" }}
            </td>
            <td>{{ protocolo?.participante || "Indefinido" }}</td>
            <td
              style="text-align: center"
              [ngStyle]="{ color: protocolo.status === ProtocoloStatusEnum['Em avaliação'] ? '#E29A0F' : '#609E27' }"
            >
              {{ ProtocoloStatusEnum[protocolo.status || 0] || 0 }}
            </td>
            <td>
              <a
                *ngIf="protocolo.status === ProtocoloStatusEnum['Confirmado']"
                class="download"
                href="/assets/pdf/certificado_teste.pdf"
                target="_blank"
                download="Certificado"
              >
                Baixar certificado
              </a>
            </td>
            <!-- <td>
                <img
                  *ngIf="
                    projeto?.curador1?.statusCuradoria ===
                    CuradorStatusEnum.Confirmado
                  "
                  src="/assets/icons/done-cricle.svg"
                  alt="done"
                />
                <img
                  *ngIf="
                    projeto?.curador1?.statusCuradoria ===
                    CuradorStatusEnum['Em avaliação']
                  "
                  src="/assets/icons/undone_circle.svg"
                  alt="undone"
                />
              </td>
              <td>
                <img
                  *ngIf="
                    projeto?.curador2?.statusCuradoria ===
                    CuradorStatusEnum.Confirmado
                  "
                  src="/assets/icons/done-cricle.svg"
                  alt="done"
                />
                <img
                  *ngIf="
                    projeto?.curador2?.statusCuradoria ===
                    CuradorStatusEnum['Em avaliação']
                  "
                  src="/assets/icons/undone_circle.svg"
                  alt="undone"
                />
              </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
